<div class="page-content bg-white">
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(assets/customer/images/banner/bnr1.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Create Jobs</h1>
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a routerLink="/">Home</a></li>
                        <li>Create Job</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-block">
        <div class="section-full bg-white browse-job content-inner-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4" style="margin-left: -50px;">
                        <div class="sticky-top">
                            <div class="clearfix m-b10">
                                <a type="button" routerLink="/jobs" class="btn btn-primary btn-lg btn-block" style="color: white;">Annonces</a>
                            </div>
                            <div class="clearfix m-b10">
                                <a type="button" class="btn btn-success btn-lg btn-block" style="color: white;">Jetons</a>
                            </div>
                            <div class="clearfix m-b10">
                                <a type="button" class="btn btn-primary btn-lg btn-block" style="color: white;">Informations</a>
                            </div>
                            <div class="clearfix m-b10">
                                <a type="button" class="btn btn-warning btn-lg btn-block" style="color: white;">Autres</a>
                            </div>
                            <div class="clearfix m-b10">
                                <a type="button" routerLink="/jobs" class="btn btn-secondary btn-lg btn-block" style="color: white;">
                                    <i class="fa fa-angle-right"></i> Retour</a>
                            </div>

                            <div class="clearfix m-b10">
                                <a type="button" class="btn btn-danger btn-lg btn-block" style="color: white;">Logout</a>
                            </div>


                        </div>
                    </div>

                    <div class="col-xl-9 col-lg-8" style="margin-left: 20px;">
                        <h5 class="widget-title font-weight-700 text-uppercase">
                            <i class="fa fa-angle-right"></i> Nouvelle Annonce
                        </h5>

                        <form #addJobForm="ngForm" name="form">
                             <div class="form-group">
                                <label>Reference</label>
                                <input type="text" placeholder="Référence annonce" class="form-control" [(ngModel)]="addEditAnnonceDTO.reference" name="reference" id="reference" #reference="ngModel" placeholder="Donnez la référence" required>
                                <span class="text-danger" *ngIf="
                                    (reference.touched || addJobForm.submitted) &&
                                    reference.errors?.required
                                  ">
                                  Reference Obligatoire
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Libellé</label>
                                <input type="text" placeholder="Libellé annonce" class="form-control" [(ngModel)]="addEditAnnonceDTO.libelle" name="libelle" id="libelle" #libelle="ngModel" placeholder="Donnez le titre de l'offre" required>
                                <span class="text-danger" *ngIf="
                                    (libelle.touched || addJobForm.submitted) &&
                                    libelle.errors?.required
                                  ">
                                libelle Obligatoire
                              </span>
                            </div>
                           <!--  <div class="form-group">
                                <label>Candidature</label>
                                <input type="text" placeholder="Mode de candidature" class="form-control" [(ngModel)]="addEditAnnonceDTO.modeCandidature" name="modeCandidature" id="modeCandidature" #modeCandidature="ngModel" placeholder="mode de candidature" required />
                                <span class="text-danger" *ngIf="
                                    (modeCandidature.touched || addJobForm.submitted) &&
                                    modeCandidature.errors?.required
                                  ">
                                  modeCandidature est obligatoire
                                </span>
                            </div> -->

                            <div class="form-group">
                                <label>Email Post</label>
                                <input type="text" placeholder="Email pour le poste" class="form-control" [(ngModel)]="addEditAnnonceDTO.emailPoste" name="emailPoste" id="emailPoste" #emailPoste="ngModel" placeholder="l'email pour ce poste" required />
                                <span class="text-danger" *ngIf="
                                    (emailPoste.touched || addJobForm.submitted) &&
                                    emailPoste.errors?.required
                                  ">
                                  emailPoste est obligatoire
                                </span>
                            </div>

                            <div class="form-group">
                                <label>Permis</label>
                                <div class="form-group">
                                    <select name="permis" [(ngModel)]="addEditAnnonceDTO.permisDto" class="form-control">
                                      <option value="0">--choisir Permis--</option>
                                      <option *ngFor="let permis of listPermisDTOs" class="form-control"
                                        [ngValue]="permis.id == addEditAnnonceDTO.permisDto?.id ? addEditAnnonceDTO.permisDto : permis">{{permis.designation}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Ville Poste</label>
                                <div class="form-group">
                                    <select name="permis" [(ngModel)]="addEditAnnonceDTO.villeDto" class="form-control">
                                      <option value="0">--choisir Ville--</option>
                                    <option *ngFor="let ville of listVilleDTOs" class="form-control"
                                      [ngValue]="ville.id == addEditAnnonceDTO.villeDto?.id ? addEditAnnonceDTO.villeDto : ville">{{ville.nom}}</option>
                                  </select>
                                </div>
                            </div>

                           <!--  <div class="form-group">
                                <label>Recruteur</label>
                                <select name="recruteurDto" [(ngModel)]="addEditAnnonceDTO.recruteurDto" class="form-control">
                                  <option [ngValue]="null" disabled>--choisir Recruteur--</option>
                                  <option *ngFor="let recrutDTO of listRecruteurDTOs" class="form-control"
                                    [ngValue]="recrutDTO.id == addEditAnnonceDTO.recruteurDto?.id ? addEditAnnonceDTO.recruteurDto : recrutDTO">{{recrutDTO.nomEntreprise}}</option>
                                </select>
                            </div> -->
                            <div class="form-group">
                                <label>Salaire</label>
                                <input type="number" placeholder="Salire pour le poste" class="form-control" [(ngModel)]="addEditAnnonceDTO.salaire" name="salaire" id="salaire" #salaire="ngModel" placeholder="salaire pour ce poste" required />
                                <span class="text-danger" *ngIf="
                                    (salaire.touched || addJobForm.submitted) &&
                                    salaire.errors?.required
                                  ">
                                  salaire est obligatoire
                                </span>
                            </div>

                            <div class="form-group">
                                <label>Time</label>
                                <input type="text" placeholder="Disponibilité pour le poste" class="form-control" [(ngModel)]="addEditAnnonceDTO.time" name="time" id="time" #time="ngModel" placeholder="disponibilité pour le poste" required />
                                <span class="text-danger" *ngIf="
                                    (time.touched || addJobForm.submitted) &&
                                    time.errors?.required
                                  ">
                                  time est obligatoire
                                </span>
                            </div>

                            <div class="form-group">
                                <label>Années Experience</label>
                                <input type="text" placeholder="Nombre année expérience" class="form-control" [(ngModel)]="addEditAnnonceDTO.anneeExperience" name="anneeExperience" id="anneeExperience" #anneeExperience="ngModel" placeholder="nombre année expérience" required />
                                <span class="text-danger" *ngIf="
                                    (anneeExperience.touched || addJobForm.submitted) &&
                                    anneeExperience.errors?.required
                                  ">
                                  anneeExperience est obligatoire
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Date Cloture </label>
                                <input type="text" placeholder="Date limite candidature" class="form-control" [(ngModel)]="addEditAnnonceDTO.dateCloture" name="dateCloture" id="dateCloture" #dateCloture="ngModel" placeholder="date limite candidature" required />
                                <span class="text-danger" *ngIf="
                                    (dateCloture.touched || addJobForm.submitted) &&
                                    dateCloture.errors?.required
                                  ">
                                  dateCloture est obligatoire
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Logo Entreprise (optional)</label>
                                <div class="custom-file">
                                    <input type="file" placeholder="choisir logo entreprise" class="site-button" id="customFile">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Description Job</label>
                                <textarea class="form-control" placeholder="Description de l'offre" rows="30" cols="15" [(ngModel)]="addEditAnnonceDTO.description" name="description" id="description" #description="ngModel" placeholder="description du poste"></textarea>
                            </div>


                            <div class="form-group">
                                <button *ngIf="!paramId" type="submit" class="btn btn-success" (click)="onAddJob()">
                                  <i class="fa fa-database"></i> Submit
                                </button>&nbsp;
                                <button *ngIf="paramId" class="btn btn-warning" (click)="onUpdateJob()">
                                  <i class="fa fa-database"></i>Update</button>
                                <button type="button" class="btn btn-danger ml-1">
                                  <i class="fa fa-close"></i> Close</button>
                            </div>

                        </form>


                    </div>

                </div>
            </div>
        </div>
        <!-- Browse Jobs END -->
    </div>
</div>
<!-- Content END-->
