<h3><i class="fa fa-angle-right"></i> List of Permis</h3>
<div>

    <div class="row">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />

        <button _ngcontent-roy-c3="" class="btn-meeting" type="submit" style="margin-left: 5%; width: 30%;" (click)="onAddPermis()">Add Permis</button>

    </div>

    <table class="table table-striped">

        <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>type Permis</th>
                <th>Designation</th>
                <th>Validite</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let permis of permisList | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p} ">
                <td>{{permis?.id}}</td>
                <td>{{permis?.typePermis}}</td>
                <td>{{permis?.designation}}</td>
                <td>{{permis?.validite}}</td>

                <td>
                    <div class="container ">
                        <button mat-raised-button class="action-button btn-primary" (click)="addEditPermis(permis) ">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-raised-button class="action-button btn-danger" (click)="onDeletePermis(permis)">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </td>

            </tr>
        </tbody>

    </table>
    <div class="pagination ">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
</div>