<div class="topbar">
    <nav class="navbar-custom">
        <ul class="list-inline float-right mb-0">
            <!--  <li class="list-inline-item dropdown notification-list hide-phone">
        <a
          class="nav-link dropdown-toggle arrow-none waves-effect text-white"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="false"
          aria-expanded="false"
        >
          English
          <img
            src="assets/admin/images/flags/us_flag.jpg"
            class="ml-2"
            height="16"
            alt=""
          />
        </a>
        <div class="dropdown-menu dropdown-menu-right language-switch">
          <a class="dropdown-item" href="#"
            ><img
              src="assets/admin/images/flags/italy_flag.jpg"
              alt=""
              height="16"
            /><span> Italian </span></a
          >
          <a class="dropdown-item" href="#"
            ><img
              src="assets/admin/images/flags/french_flag.jpg"
              alt=""
              height="16"
            /><span> French </span></a
          >
          <a class="dropdown-item" href="#"
            ><img
              src="assets/admin/images/flags/spain_flag.jpg"
              alt=""
              height="16"
            /><span> Spanish </span></a
          >
          <a class="dropdown-item" href="#"
            ><img
              src="assets/admin/images/flags/russia_flag.jpg"
              alt=""
              height="16"
            /><span> Russian </span></a
          >
        </div>
      </li> -->
            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="ti-email noti-icon"></i>
                    <span class="badge badge-danger noti-icon-badge">{{numberOfCustomerEmail}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                    <div class="dropdown-item noti-title" routerLink="/admin/accueil/emails">
                        <h5>
                            <span class="badge badge-danger float-right">{{numberOfCustomerEmail}}</span>Messages
                        </h5>
                    </div>

                    <a routerLink="/admin/accueil/emails" class="dropdown-item notify-item" style="cursor: pointer;">
                        <div class="notify-icon">
                            <img src="assets/admin/images/users/avatar-3.jpg" alt="user-img" class="img-fluid rounded-circle" />
                        </div>
                        <p class="notify-details">
                            <b>{{ username }}</b
              ><small class="text-muted">Vous avez reçu {{numberOfCustomerEmail}} messages</small>
            </p>
          </a>

        

         
        </div>
      </li>

      <li class="list-inline-item dropdown notification-list">
        <a
          class="nav-link dropdown-toggle arrow-none waves-effect"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="false"
          aria-expanded="false"
        >
          <i class="ti-bell noti-icon"></i>
          <span class="badge badge-danger noti-icon-badge">{{numberOfNotificationInMonth}}</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg"
        >
          <div class="dropdown-item noti-title" routerLink="/admin/accueil/notifications">
            <h5>
              <span class="badge badge-danger float-right">{{numberOfNotificationInMonth}}</span>Notifications
            </h5>
          </div>


          <a href="javascript:void(0);" class="dropdown-item notify-item"
          routerLink="/admin/accueil/notifications">
            <div class="notify-icon bg-warning">
              <i class="mdi mdi-martini"></i>
            </div>
            <p class="notify-details">
              <b> +{{numberOfNotificationInMonth}} notes attribués aux chauffeurs</b
              >
            </p>
          </a>
        </div>
      </li>

      <li class="list-inline-item dropdown notification-list">
        <a
          class="nav-link dropdown-toggle arrow-none waves-effect"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="false"
          aria-expanded="false"
        >
          <i class="ti-bell noti-icon"></i>
          <span class="badge badge-danger noti-icon-badge">{{numberOfPendingAnnonce}}</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg"
        >
          <div class="dropdown-item noti-title" routerLink="/admin/accueil/annonceEncours" >
            <h5 style="cursor: pointer;">
              <span class="badge badge-danger float-right"
              >{{numberOfPendingAnnonce}}</span>Annonce-Encours
            </h5>
          </div>

          <a href="javascript:void(0);" routerLink="/admin/accueil/annonceEncours" class="dropdown-item notify-item">
            <div class="notify-icon bg-primary">
              <i class="mdi mdi-cart-outline"></i>
            </div>
            <p class="notify-details" style="cursor: pointer;">
              <b>Vous avez {{numberOfPendingAnnonce}} annonces encours</b
              >
            </p>
          </a>

        </div>
      </li>

      <li class="list-inline-item dropdown notification-list">
        <a
          class="nav-link dropdown-toggle arrow-none waves-effect nav-user"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="false"
          aria-expanded="false"
        >
        <span style="color: white;"> {{ username }}</span>

          <img
            [src]="
              this.userService.apiServerUrl +
              '/utilisateurs/avatar/' +
              this.userId +
              '?ts=' +
              getTS()
            "
            class="rounded-circle"
            *ngIf="img"
            style="cursor: pointer"
          />
          <img
            src="assets/admin/images/users/avatar-1.jpg"
            alt="user"
            class="rounded-circle"
            *ngIf="!img"
          />
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
          <div class="dropdown-item noti-title">
            <h5>{{ username }}</h5>
          </div>
          <a
            class="dropdown-item"
            (click)="getProfile()"
            style="cursor: pointer"
            ><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Mon
            Profil</a
          >

          <a
            *ngIf="this.showAdminBoard"
            class="dropdown-item"
            (click)="goToHistoriqueConnexion()"
            style="cursor: pointer"
            ><i class="mdi mdi-settings m-r-5 text-muted"></i> Activity Log</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"
            style="cursor: pointer;"
            ><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a
          >
        </div>
      </li>
    </ul>

    <ul class="list-inline menu-left mb-0">
      <li class="float-left">
        <button class="button-menu-mobile open-left waves-light waves-effect">
          <i class="mdi mdi-menu"></i>
        </button>
      </li>
      <li class="hide-phone app-search">
        <form role="search" class="">
          <input type="text" placeholder="Search..." class="form-control" />
          <a href=""><i class="fa fa-search"></i></a>
        </form>
      </li>
    </ul>
    <div class="clearfix"></div>
  </nav>
</div>