<h3><i class="fa fa-angle-right"></i> List of annonces</h3>
<div>
    <div>

        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />

        <button _ngcontent-roy-c3="" class="btn-meeting" type="submit" style="width: 30%;" (click)="onAddAnnonce()">Add Annonce</button>

    </div>

    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Reference</th>
                <th>Permis</th>
                <th>Salaire</th>
                <th>Mode Candidature</th>
                <th>Lieu Poste</th>
                <th>Date Candidature</th>
                <th>Date Cloture</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let annonce of annonceList | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p} ">
                <td>{{annonce?.reference}}</td>
                <td>{{annonce?.permis?.designation}}</td>
                <td>{{annonce?.salaire}}</td>
                <td>{{annonce?.modeCandidature}}</td>
                <td>{{annonce?.lieuPoste}}</td>
                <td>{{annonce?.dateCandidature}}</td>
                <td>{{annonce?.dateCloture}}</td>
                <td>{{annonce?.statusAnnonce}}</td>

                <td>
                    <div class=" container ">
                        <button mat-raised-button class="action-button btn-primary " (click)="addEditAnnonce(annonce) ">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-raised-button class="action-button btn-danger " (click)="onDeleteAnnonce(annonce) ">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </td>

            </tr>
        </tbody>

    </table>
    <div class="pagination ">
        <pagination-controls (pageChange)="p=$event "></pagination-controls>
    </div>
</div>