<!-- <aside>

    <div id="sidebar" class="nav-collapse nicescroll-rails" tabindex="5000" style="overflow-y: scroll;
outline: none; margin-left: 0px;
z-index: 1;
/* overflow-x: hidden; */

">
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered">

                <a><img src="../../../assets/admin/img/avatar.jpg" class="img-circle" width="80" routerLink="/profil"></a>
            </p>
            <h5 class="centered">

                <h2>tairou</h2>
            </h5>

            <li class="mt">
                <a routerLink="/backend/dashboard">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sub-menu dcjq-parent-li" routerLinkActive="active">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span routerLink="/backend/admin/chauffeurs">Chauffeurs</span>
                    <span class="dcjq-icon"></span></a>
            </li>

            <li class="sub-menu dcjq-parent-li" routerLinkActive="active">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span routerLink="/backend/admin/recruteurs">Recruteurs</span>
                    <span class="dcjq-icon"></span></a>
            </li>

            <li class="sub-menu dcjq-parent-li" routerLinkActive="active">
                <a href="javascript:;">
                    <i class="fa fa-group"></i>
                    <span routerLink="/backend/admin/annonces">Annonces</span>
                    <span class="dcjq-icon"></span></a>
            </li>

            <li class="sub-menu dcjq-parent-li" routerLinkActive="active">
                <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span routerLink="/backend/admin/permis">Permis</span>
                    <span class="dcjq-icon"></span></a>
            </li>

            <li class="sub-menu dcjq-parent-li" routerLinkActive="active">
                <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span routerLink="/backend/admin/localites">Localities</span>
                    <span class="dcjq-icon"></span></a>
            </li>

            <li class="sub-menu dcjq-parent-li" routerLinkActive="active">
                <a href="javascript:;">
                    <i class="fa fa-bell"></i>
                    <span routerLink="/backend/admin/notifications">Notifications</span>
                    <span class="dcjq-icon"></span></a>

            </li>

            <mat-accordion class="sidebar" routerLinkActive="active">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="margin-left: -7%;margin-bottom: -3px;width: 30px;">
                            <i class="fa fa-group"></i> <span style="margin-left: 7px;">Utilisateurs</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="vacation-sub-menu">
                        <li><a style="margin-bottom:-10px" routerLink="/backend/admin/utilisateurs"><i class="fa fa-book"></i> List Users </a></li>
                        <li><a routerLink="/backend/admin/scategories"><i class="fa fa-group"></i>Signup</a></li>
                        <li><a routerLink="/backend/admin/articles"><i class="fa fa-group"></i>Edit Profil</a></li>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </ul>
    </div>
</aside>
 -->

<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
          <i class="ion-close"></i>
      </button>
    <div class="topbar-left">
        <div class="text-center">
            <a routerLink="/backend/admin/dashborad" class="logo"><i class="mdi mdi-assistant"></i> SenChauffeur</a>
            <!-- <a href="index.html" class="logo"><img src="assets/admin/images/logo.png" height="24" alt="logo"></a> -->
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">

        <div id="sidebar-menu">
            <ul>
                <!--    <li class="menu-title">Main</li> -->

                <li>
                    <a routerLink="/backend/admin/dashborad" class="waves-effect">
                        <i class="mdi mdi-airplay"></i>
                        <span> Dashboard <!-- <span class="badge badge-pill badge-primary float-right">7</span> --></span>
                    </a>
                </li>

                <li class="has_sub">
                    <a routerLink="/backend/admin/chauffeurs" class="waves-effect"><i class="mdi mdi-layers"></i>
                      <span> Chauffeurs </span> </a>

                </li>

                <li>
                    <a routerLink="/backend/admin/recruteurs" class="waves-effect">
                        <i class="mdi mdi-calendar-clock"></i><span> Recruteurs </span>
                    </a>
                </li>

                <li>
                  <a routerLink="/backend/admin/annonceEncours" class="waves-effect">
                      <i class="mdi mdi-calendar-clock"></i><span> Annonces-Encours </span>
                  </a>
              </li>


                <li>
                    <a routerLink="/backend/admin/annonces" class="waves-effect">
                        <i class="mdi mdi-calendar-clock"></i><span> Annonces </span>
                    </a>
                </li>

                <li>
                    <a routerLink="/backend/admin/tarifs" class="waves-effect">
                        <i class="mdi mdi-calendar-clock"></i><span> Tarifs </span>
                    </a>
                </li>

                <li>
                    <a routerLink="/backend/admin/listPermis" class="waves-effect">
                        <i class="mdi mdi-calendar-clock"></i><span> Permis </span>
                    </a>
                </li>

                <li>
                    <a routerLink="/backend/admin/localites" class="waves-effect">
                        <i class="mdi mdi-calendar-clock"></i><span> Localité </span>
                    </a>
                </li>

                <li>
                    <a routerLink="/backend/admin/notifications" class="waves-effect">
                        <i class="mdi mdi-calendar-clock"></i><span> Notifications </span>
                    </a>
                </li>

                <!--      <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-bullseye"></i> <span> UI Elements </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="ui-buttons.html">Buttons</a></li>
                        <li><a href="ui-cards.html">Cards</a></li>
                        <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a></li>
                        <li><a href="ui-modals.html">Modals</a></li>
                        <li><a href="ui-images.html">Images</a></li>
                        <li><a href="ui-alerts.html">Alerts</a></li>
                        <li><a href="ui-progressbars.html">Progress Bars</a></li>
                        <li><a href="ui-dropdowns.html">Dropdowns</a></li>
                        <li><a href="ui-lightbox.html">Lightbox</a></li>
                        <li><a href="ui-navs.html">Navs</a></li>
                        <li><a href="ui-pagination.html">Pagination</a></li>
                        <li><a href="ui-popover-tooltips.html">Popover & Tooltips</a></li>
                        <li><a href="ui-badge.html">Badge</a></li>
                        <li><a href="ui-carousel.html">Carousel</a></li>
                        <li><a href="ui-video.html">Video</a></li>
                        <li><a href="ui-typography.html">Typography</a></li>
                        <li><a href="ui-sweet-alert.html">Sweet-Alert</a></li>
                        <li><a href="ui-grid.html">Grid</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-clipboard-outline"></i><span> Forms </span> <span class="badge badge-pill badge-info float-right">8</span></a>
                    <ul class="list-unstyled">
                        <li><a href="form-elements.html">Form Elements</a></li>
                        <li><a href="form-validation.html">Form Validation</a></li>
                        <li><a href="form-advanced.html">Form Advanced</a></li>
                        <li><a href="form-editors.html">Form Editors</a></li>
                        <li><a href="form-uploads.html">Form File Upload</a></li>
                        <li><a href="form-mask.html">Form Mask</a></li>
                        <li><a href="form-summernote.html">Summernote</a></li>
                        <li><a href="form-xeditable.html">Form Xeditable</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-gauge"></i><span> Charts </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="charts-morris.html">Morris Chart</a></li>
                        <li><a href="charts-chartist.html">Chartist Chart</a></li>
                        <li><a href="charts-chartjs.html">Chartjs Chart</a></li>
                        <li><a href="charts-flot.html">Flot Chart</a></li>
                        <li><a href="charts-c3.html">C3 Chart</a></li>
                        <li><a href="charts-other.html">Jquery Knob Chart</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-cards-outline"></i> <span> Icons </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="icons-material.html">Material Design</a></li>
                        <li><a href="icons-ion.html">Ion Icons</a></li>
                        <li><a href="icons-fontawesome.html">Font Awesome</a></li>
                        <li><a href="icons-themify.html">Themify Icons</a></li>
                        <li><a href="icons-dripicons.html">Dripicons</a></li>
                        <li><a href="icons-typicons.html">Typicons Icons</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-table"></i><span> Tables </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="tables-basic.html">Basic Tables</a></li>
                        <li><a href="tables-datatable.html">Data Table</a></li>
                        <li><a href="tables-responsive.html">Responsive Table</a></li>
                        <li><a href="tables-editable.html">Editable Table</a></li>
                    </ul>
                </li>

                <li class="menu-title">Extra</li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-map-marker-multiple"></i><span> Maps </span> <span class="badge badge-pill badge-danger float-right">2</span></a>
                    <ul class="list-unstyled">
                        <li><a href="maps-google.html"> Google Map</a></li>
                        <li><a href="maps-vector.html"> Vector Map</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-google-pages"></i><span> Pages </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="pages-login.html">Login</a></li>
                        <li><a href="pages-register.html">Register</a></li>
                        <li><a href="pages-recoverpw.html">Recover Password</a></li>
                        <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                        <li><a href="pages-blank.html">Blank Page</a></li>
                        <li><a href="pages-404.html">Error 404</a></li>
                        <li><a href="pages-500.html">Error 500</a></li>
                    </ul>
                </li> -->

            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
