<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
          <i class="ion-close"></i>
      </button>
    <div class="topbar-left">
        <div class="text-center">
            <a routerLink="/admin/accueil/dashboard" class="logo"><img src="assets/admin/images/logo.jpg" height="20" alt="logo"></a>
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">

        <div id="sidebar-menu">
            <ul>
                <li>
                    <a routerLink="/admin/accueil/dashboard" class="waves-effect">
                        <i class="mdi mdi-airplay"></i>
                        <span> Tableaau Bord</span>
                    </a>
                </li>

                <li class="has_sub" *ngIf="!this.showUserBoard">
                    <a routerLink="/admin/accueil/chauffeurs" class="waves-effect">
                        <i class="fa fa-car"></i>
                        <span> Chauffeurs </span> </a>

                </li>

                <li *ngIf="!this.showUserBoard">
                    <a routerLink="/admin/accueil/recruteurs" class="waves-effect">
                        <i class="fa fa-users"></i>
                        <span> Recruteurs </span>
                    </a>
                </li>

                <li *ngIf="!this.showUserBoard">
                    <a routerLink="/admin/accueil/annonceEncours" class="waves-effect">
                        <i class="fa fa-book"></i>
                        <span> Annonces-Encours </span>
                    </a>
                </li>

                <li *ngIf="!this.showUserBoard">
                    <a routerLink="/admin/accueil/annonceValides" class="waves-effect">
                        <i class="fa fa-book"></i>
                        <span> Annonces-Validées </span>
                    </a>
                </li>
                <li *ngIf="!this.showUserBoard">
                    <a routerLink="/admin/accueil/annonceRejetes" class="waves-effect">
                        <i class="fa fa-book"></i>
                        <span> Annonces-Rejetés </span>
                    </a>
                </li>

                <li *ngIf="!this.showUserBoard">
                    <a routerLink="/admin/accueil/annonces" class="waves-effect">
                        <i class="fa fa-book"></i>
                        <span> Annonces </span>
                    </a>
                </li>

                <li *ngIf="this.showAdminBoard || this.showManagerBoard">
                    <a routerLink="/admin/accueil/graphes" class="waves-effect">
                        <i class="fa fa-line-chart"></i>
                        <span> Graphiques </span>
                    </a>
                </li>

                <li *ngIf="this.showAdminBoard || this.showManagerBoard">
                    <a routerLink="/admin/accueil/typeAnnonces" class="waves-effect">
                        <i class="fa fa-book"></i>
                        <span> TypeAnnonce </span>
                    </a>
                </li>

                <li *ngIf="this.showAdminBoard || this.showManagerBoard">
                    <a routerLink="/admin/accueil/tarifs" class="waves-effect">
                        <i class="fa fa-dollar"></i>
                        <span> Tarifs </span>
                    </a>
                </li>

                <li *ngIf="this.showAdminBoard || this.showManagerBoard">
                    <a routerLink="/admin/accueil/jetons" class="waves-effect">
                        <i class="fa fa-dollar"></i>
                        <span> Jetons </span>
                    </a>
                </li>

                <li *ngIf="this.showAdminBoard || this.showManagerBoard">
                    <a routerLink="/admin/accueil/listPermis" class="waves-effect">
                        <i class="fa fa-car"></i><span> Permis </span>
                    </a>
                </li>

                <li *ngIf="!this.showUserBoard">
                    <a routerLink="/admin/accueil/localites" class="waves-effect">
                        <i class="fa fa-map-marker"></i>
                        <span> Localité </span>
                    </a>
                </li>

                <li *ngIf="!this.showUserBoard">
                    <a routerLink="/admin/accueil/notifications" class="waves-effect">
                        <i class="ti-bell noti-icon"></i>
                        <span> Notifications </span>
                    </a>
                </li>

                <li *ngIf="!this.showUserBoard">
                    <a routerLink="/admin/accueil/emails" class="waves-effect">
                        <i class="fa fa-envelope"></i>
                        <span> Emails </span>
                    </a>
                </li>
                <li *ngIf="!this.showUserBoard">
                    <a routerLink="/admin/accueil/newsleters" class="waves-effect">
                        <i class="fa fa-users"></i>
                        <span> Newsleter </span>
                    </a>
                </li>
                <li *ngIf="this.showAdminBoard">
                    <a routerLink="/admin/accueil/historiqueAnnonces" class="waves-effect">
                        <i class="fa fa-search"></i>
                        <span> Histo Annonces </span>
                    </a>
                </li>

                <li *ngIf="this.showAdminBoard">
                    <a routerLink="/admin/accueil/historiqueLogins" class="waves-effect">
                        <i class="mdi mdi-settings m-r-5 text-muted"></i>
                        <span> Historiques Logins </span>
                    </a>
                </li>

                <li *ngIf="this.showAdminBoard">
                    <a routerLink="/admin/accueil/utilisateurs" class="waves-effect">
                        <i class="mdi mdi-account-circle m-r-5 text-muted"></i>
                        <span> Utilisateur </span>
                    </a>
                </li>

                <li *ngIf="this.showAdminBoard">
                    <a routerLink="/admin/accueil/signUp" class="waves-effect">
                        <i class="fa fa-user"></i>
                        <span> Create Account </span>
                    </a>
                </li>

            </ul>
        </div>
        <!--  <div class="clearfix"></div> -->
    </div>
</div>