<div class="page-bread mb70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Contact Us</h3>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<div class="container mb40">
    <div class="row">
        <div class="col-sm-4 mb30">
            <div class="contact-details">
                <h3 class="font300 mb0">Contact Information</h3>
                <hr> 124, Lorem Ipsum Street<br>302012, London
                <br><br> +01 1800-123-1234<br> +01 1800-123-5678
                <br><br> support@finder.com
                <br> info@finder.com
                <br><br>
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-official"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-2">
            <h3 class="font300 mb0">Leave a message</h3>
            <hr>
            <form method="post" action="#" class="finder-contact">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 mb15">
                                <input type="text" name="name" class="form-control" placeholder="Full Name...." />
                            </div>
                            <div class="col-sm-6 mb15">
                                <input type="text" name="email" class="form-control" placeholder="Email Address...." />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mb15">
                        <textarea name="message" class="form-control" rows="5" placeholder="Message...."></textarea>
                    </div>
                </div>
                <div class="row mb15">
                    <div class="col-sm-12 text-center">
                        <div class="data-status"></div>
                        <!-- data submit status -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mb70">
    <iframe height="450" frameborder="0" style="border:0;width:100%;" class="mb0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJWalJ2wO6j4AR4A9dNSj2ATI&key=AIzaSyAcC0a6iry-BDvy1LA4EFqlvKBGTdZELJA
" allowfullscreen></iframe>
</div>