<div class="page-bread mb70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>About us</h3>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<div class="container mb40">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center center-heading mb40">
            <h2>Who we are?</h2>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                sit aspernatur aut odit aut fugit. </p>
        </div>
    </div>
    <div class="row mb40">
        <div class="col-sm-4 mb30 text-center icon-box">
            <i class="fa fa-envelope"></i>
            <h4 class="font300">Email Support</h4>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            </p>
        </div>
        <!--/col-->
        <div class="col-sm-4 mb30 text-center icon-box">
            <i class="fa fa-code-fork"></i>
            <h4 class="font300">Modern Framework</h4>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            </p>
        </div>
        <!--/col-->
        <div class="col-sm-4 mb30 text-center icon-box">
            <i class="fa fa-code"></i>
            <h4 class="font300">Free updates</h4>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            </p>
        </div>
        <!--/col-->
    </div>
    <hr class="mb70">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center center-heading mb40">
            <h2>Meet the team</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 mb30">
            <div class="team-card">
                <img src="assets/customer/images/av1.jpg" alt="" class="img-responsive">
                <div class="team-overlay">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="team-content">
                <h3 class="font300 mb0">John Doe</h3>
                <em>Project Manager</em>
            </div>
        </div>
        <!--/col-->
        <div class="col-sm-3 mb30">
            <div class="team-card">
                <img src="assets/customer/images/av2.jpg" alt="" class="img-responsive">
                <div class="team-overlay">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="team-content">
                <h3 class="font300 mb0">Emily Doe</h3>
                <em>Project Manager</em>
            </div>
        </div>
        <!--/col-->
        <div class="col-sm-3 mb30">
            <div class="team-card">
                <img src="assets/customer/images/av3.jpg" alt="" class="img-responsive">
                <div class="team-overlay">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="team-content">
                <h3 class="font300 mb0">Jonathan Doe</h3>
                <em>Project Manager</em>
            </div>
        </div>
        <!--/col-->
        <div class="col-sm-3 mb30">
            <div class="team-card">
                <img src="assets/customer/images/av4.jpg" alt="" class="img-responsive">
                <div class="team-overlay">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="team-content">
                <h3 class="font300 mb0">Nikita Miller</h3>
                <em>Project Manager</em>
            </div>
        </div>
        <!--/col-->
    </div>
</div>
<div class="gray-bg pt40 pb40 newsletter-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>
                    Subscribe and be notified about new locations</h2>
            </div>
            <div class="col-sm-6">
                <div class="newsletter-card">
                    <form>
                        <input type="text" class="form-control" placeholder="Enter your Email...">
                        <input type="submit" value="Subscribe" class="newsletter-submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>