<div class="container-fluid">
  <h1 *ngIf="!paramId">Nouvelle Annonce</h1>
  <h1 *ngIf="paramId">Modifier Annonce</h1>
  <div class="row" style="margin-left: 10px">
    <div class="col-sm-12">
      <form #addAnnonceForm="ngForm" name="form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Reference</label>
              <input
                type="text"
                placeholder="Référence annonce"
                class="form-control"
                [(ngModel)]="annonceDTO.reference"
                name="reference"
                id="reference"
                #reference="ngModel"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  (reference.touched || addAnnonceForm.submitted) &&
                  reference.errors?.required
                "
              >
                reference est obligatoire
              </span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Libelle Poste</label>
              <input
                type="text"
                placeholder="Libellé annonce"
                class="form-control"
                [(ngModel)]="annonceDTO.libelle"
                name="libelle"
                id="libelle"
                #libelle="ngModel"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  (libelle.touched || addAnnonceForm.submitted) &&
                  libelle.errors?.required
                "
              >
                libelle est obligatoire
              </span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Email Candidature</label>
              <input
                type="text"
                placeholder="Email pour le poste"
                class="form-control"
                [(ngModel)]="annonceDTO.emailPoste"
                name="emailPoste"
                id="emailPoste"
                #emailPoste="ngModel"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  (emailPoste.touched || addAnnonceForm.submitted) &&
                  emailPoste.errors?.required
                "
              >
                emailPoste est obligatoire
              </span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Permis</label>
              <div class="form-group">
                <select
                  name="permisDto"
                  [(ngModel)]="annonceDTO.permisDto"
                  class="form-control"
                >
                <option value="0">--choisir Permis--</option>
                  <option
                    *ngFor="let permis of listPermisData"
                    [ngValue]="
                      permis.id == annonceDTO.permisDto?.id
                        ? annonceDTO.permisDto
                        : permis
                    "
                  >
                    {{ permis.designation }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label>Ville Poste</label>
            <div class="form-group">
              <select
                name="addresseDto"
                [(ngModel)]="annonceDTO.addresseDto"
                class="form-control"
              >
                <option value="0">--choisir Ville--</option>
                <option
                  *ngFor="let addDTO of listAddressDTOs"
                  class="form-control"
                  [ngValue]="
                    addDTO.id == annonceDTO.addresseDto?.id
                      ? annonceDTO.addresseDto
                      : addDTO
                  "
                >
                  {{ addDTO.ville }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Lieu Poste</label>
              <input
                type="text"
                placeholder="Lieu annonce"
                class="form-control"
                [(ngModel)]="annonceDTO.lieuPoste"
                name="lieuPoste"
                id="lieuPoste"
                #lieuPoste="ngModel"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  (lieuPoste.touched || addAnnonceForm.submitted) &&
                  lieuPoste.errors?.required
                "
              >
                lieuPoste est obligatoire
              </span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Salaire</label>
              <input
                type="number"
                placeholder="Salaire annonce"
                class="form-control"
                [(ngModel)]="annonceDTO.salaire"
                name="salaire"
                id="salaire"
                #salaire="ngModel"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  (salaire.touched || addAnnonceForm.submitted) &&
                  salaire.errors?.required
                "
              >
                salaire est obligatoire
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Disponibilite </label>
              <!--  <input
              type="text"
              placeholder="Disponibilité"
              class="form-control"
              [(ngModel)]="annonceDTO.time"
              name="time"
              id="time"
              #time="ngModel"
              required
            /> -->
              <select
                name="time"
                [(ngModel)]="annonceDTO.time"
                id="time"
                #time="ngModel"
                class="form-control"
                required
              >
                <option [ngValue]="0" disabled>--choisir Dispo--</option>
                <option
                  *ngFor="let item of listTypeDisponibilites"
                  [ngValue]="item"
                >
                  {{ item }}
                </option>
              </select>
              <span
                class="text-danger"
                *ngIf="
                  (time.touched || addAnnonceForm.submitted) &&
                  time.errors?.required
                "
              >
                time est obligatoire
              </span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Nombre Année Expérience </label>
              <input
                type="text"
                placeholder="experience annonce"
                class="form-control"
                [(ngModel)]="annonceDTO.experience"
                name="experience"
                id="experience"
                #experience="ngModel"
                required
              />
             <!--  <select
                name="experience"
                class="form-control"
                [(ngModel)]="annonceDTO.experience"
                name="experience"
                id="experience"
                #experience="ngModel"
                required
              >
                <option [ngValue]="0" disabled>--choisir Expereience--</option>
                <option
                  *ngFor="let item of listTypeExperiences"
                  [ngValue]="item"
                >
                  {{ item }}
                </option>
              </select> -->
              <span
                class="text-danger"
                *ngIf="
                  (experience.touched || addAnnonceForm.submitted) &&
                  experience.errors?.required
                "
              >
                annee Experience est obligatoire
              </span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Type de Contrat </label>
              <select
                type="text"
                class="form-control"
                [(ngModel)]="annonceDTO.typeContrat"
                name="typeContrat"
                id="typeContrat"
                #typeContrat="ngModel"
                required
              >
                <option [ngValue]="0" disabled>--choisir Expereience--</option>
                <option *ngFor="let item of listTypeContrats" [ngValue]="item">
                  {{ item }}
                </option>
              </select>
              <span
                class="text-danger"
                *ngIf="
                  (typeContrat.touched || addAnnonceForm.submitted) &&
                  typeContrat.errors?.required
                "
              >
                typeContrat est obligatoire
              </span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Date Cloture </label>
              <input
                type="date"
                placeholder="Date limite candidature"
                class="form-control"
                [(ngModel)]="annonceDTO.dateCloture"
                name="dateCloture"
                id="dateCloture"
                #dateCloture="ngModel"
                required
              />
              <span
                class="text-danger"
                *ngIf="
                  (dateCloture.touched || addAnnonceForm.submitted) &&
                  dateCloture.errors?.required
                "
              >
                dateCloture est obligatoire
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <editor
            [(ngModel)]="annonceDTO.description"
            [init]="{ plugins: 'link' }"
            name="description"
            #description="ngModel"
          ></editor>
        </div>

        <div class="form-group">
          <button
            *ngIf="!paramId"
            type="submit"
            class="btn btn-success"
            (click)="onAddAnnonce()"
          >
            <i class="fa fa-database"></i> Enregistrer</button
          >&nbsp;
          <button
            *ngIf="paramId"
            class="btn btn-warning"
            (click)="onUpdateAnnonce()"
          >
            <i class="fa fa-database"></i>Modifier
          </button>
          <button type="button" class="btn btn-danger ml-1" (click)="goBack()">
            <i class="fa fa-arrow-left"></i> Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
