<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Nouveau Annonce</h1>
            <form #addAnnonceForm="ngForm" name="form">
                <div class="form-group">
                    <label>Reference</label>
                    <input type="text" class="form-control" [(ngModel)]="annonceDTO.reference" name="reference" id="reference" #reference="ngModel" required />
                    <span class="text-danger" *ngIf="
          (reference.touched || addAnnonceForm.submitted) &&
          reference.errors?.required
        ">
        reference est obligatoire
      </span>
                </div>

                <div class="form-group">
                    <label>Candidature</label>
                    <input type="text" class="form-control" [(ngModel)]="annonceDTO.modeCandidature" name="modeCandidature" id="modeCandidature" #modeCandidature="ngModel" required />
                    <span class="text-danger" *ngIf="
          (modeCandidature.touched || addAnnonceForm.submitted) &&
          modeCandidature.errors?.required
        ">
        modeCandidature est obligatoire
      </span>
                </div>

                <div class="form-group">
                    <label>Permis</label>
                    <div class="form-group">
                        <select name="permis" [(ngModel)]="annonceDTO.permisDto" class="form-control">
          <option *ngFor="let permis of listPermisData"
            [ngValue]="permis.id == annonceDTO.permisDto?.id ? annonceDTO.permisDto : permis">{{permis.designation}}</option>
        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Recruteur</label>
                    <div class="form-group">
                        <select name="permis" [(ngModel)]="annonceDTO.recruteurDto" class="form-control">
        <option *ngFor="let recrutDTO of listRecruteurData"
          [ngValue]="recrutDTO.id == annonceDTO.recruteurDto?.id ? annonceDTO.recruteurDto : recrutDTO">{{recrutDTO.nomEntreprise}}</option>
      </select>
                    </div>
                </div>


                <div class="form-group">
                    <label>Lieu Poste</label>
                    <input type="text" class="form-control" [(ngModel)]="annonceDTO.lieuPoste" name="lieuPoste" id="lieuPoste" #lieuPoste="ngModel" required />
                    <span class="text-danger" *ngIf="
          (lieuPoste.touched || addAnnonceForm.submitted) &&
          lieuPoste.errors?.required
        ">
        lieuPoste est obligatoire
      </span>
                </div>

                <div class="form-group">
                    <label>Salaire</label>
                    <input type="text" class="form-control" [(ngModel)]="annonceDTO.salaire" name="salaire" id="salaire" #salaire="ngModel" required />
                    <span class="text-danger" *ngIf="
        (salaire.touched || addAnnonceForm.submitted) &&
        salaire.errors?.required
      ">
      salaire est obligatoire
    </span>
                </div>

                <div class="form-group">
                    <label>Date Candidate </label>
                    <input type="text" class="form-control" [(ngModel)]="annonceDTO.dateCandidature" name="dateCandidature" id="dateCandidature" #dateCandidature="ngModel" required />
                    <span class="text-danger" *ngIf="
      (dateCandidature.touched || addAnnonceForm.submitted) &&
      dateCandidature.errors?.required
    ">
    dateCandidature est obligatoire
  </span>
                </div>

                <div class="form-group">
                    <label>Date Cloture </label>
                    <input type="text" class="form-control" [(ngModel)]="annonceDTO.dateCloture" name="dateCloture" id="dateCloture" #dateCloture="ngModel" required />
                    <span class="text-danger" *ngIf="
    (dateCloture.touched || addAnnonceForm.submitted) &&
    dateCloture.errors?.required
  ">
  dateCloture est obligatoire
</span>
                </div>

                <div class="form-group">
                    <label>Status </label>
                    <input type="text" class="form-control" [(ngModel)]="annonceDTO.statusAnnonce" name="statusAnnonce" id="statusAnnonce" #statusAnnonce="ngModel" required />
                    <span class="text-danger" *ngIf="
  (statusAnnonce.touched || addAnnonceForm.submitted) &&
  statusAnnonce.errors?.required
">
statusAnnonce est obligatoire
</span>
                </div>



                <div class="form-group">
                    <button *ngIf="!paramId" type="submit" class="btn btn-success" (click)="onUpdateAnnonce()"><i class="fa fa-database"></i> Submit</button>&nbsp;
                    <button *ngIf="paramId" class="btn btn-warning" (click)="onAddAnnonce()"><i class="fa fa-database"></i>Update</button>
                    <button type="button" class="btn btn-danger ml-1"><i class="fa fa-close"></i> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
