<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h3><i class="fa fa-angle-right"></i> List of Notations</h3>
                    <div class="row">
                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre Etoile</th>
                                <th>Observation</th>
                                <th>Chauffeur</th>
                                <th>Utilisateur</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let noteDTO of notationListDTO | filter:searchText | paginate: {itemsPerPage: 25, currentPage: p} ">
                                <td>{{noteDTO?.id}}</td>
                                <td>{{noteDTO?.nbreEtoile}}</td>
                                <td>{{noteDTO?.observation}}</td>
                                <td>{{noteDTO?.chauffeurDto?.firstName}} {{noteDTO?.chauffeurDto?.lastName}}</td>
                                <td>{{noteDTO?.utilisateurDto?.name}}</td>

                                <td>
                                    <button class="btn btn-warning btn-sm" [routerLink]="['/admin/accueil/notation', noteDTO.id]">
                                  <i class="fa fa-edit" aria-hidden="true"></i> </button>&nbsp;
                                    <button class="btn btn-success btn-sm" [routerLink]="['/admin/accueil/viewchauffeur', noteDTO.id]">
                                          <i class="fa fa-eye" aria-hidden="true"></i> </button>&nbsp;

                                    <button class="btn btn-danger btn-sm" (click)="onDeleteNotation(noteDTO.id)">
                                            <i class="fa fa-eye" aria-hidden="true"></i> </button>&nbsp;
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
