<div class="page-bread mb70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Reviews</h3>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<div class="container mb30">
    <div class="row">
        <div class="col-sm-8 mb40">

            <h3 class="left-title mb25">Reviews</h3>
            <div class="clearfix review-box mb35">
                <img src="assets/customer/images/av1.jpg" alt="" class="img-responsive img-circle pull-left" width="80">
                <div class="overflow-hidden">
                    <span class=" pull-right">4 days ago</span>

                    <p>
                        Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
            </div>
            <!--/review-box-->
            <div class="clearfix review-box mb35">
                <img src="assets/customer/images/av2.jpg" alt="" class="img-responsive img-circle pull-left" width="80">
                <div class="overflow-hidden">
                    <span class=" pull-right">6 days ago</span>
                    <ul class="list-inline rating-list mb20">
                        <li><i class="fa fa-star text-warning"></i></li>
                        <li><i class="fa fa-star text-warning"></i></li>
                        <li><i class="fa fa-star text-warning"></i></li>
                        <li><i class="fa fa-star text-warning"></i></li>
                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                    </ul>
                    <p>
                        Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
            </div>
            <!--/review-box-->
            <div class="clearfix review-box mb45">
                <img src="assets/customer/images/av3.jpg" alt="" class="img-responsive img-circle pull-left" width="80">
                <div class="overflow-hidden">
                    <span class=" pull-right">3 days ago</span>
                    <ul class="list-inline rating-list mb20">
                        <li><i class="fa fa-star text-warning"></i></li>
                        <li><i class="fa fa-star text-warning"></i></li>
                        <li><i class="fa fa-star text-warning"></i></li>
                        <li><i class="fa fa-star text-warning"></i></li>
                        <li><i class="fa fa-star-half-empty text-warning"></i></li>
                    </ul>
                    <p>
                        Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
            </div>
            <!--/review-box-->
            <h3 class="left-title mb25">Submit a Review</h3>
            <form id="review">
                <div class="form-group">
                    <label for="title">Title of your review</label>
                    <input type="text" id="title" class="form-control" placeholder="Beautiful Place...!">
                </div>
                <div class="form-group">
                    <label for="msgr">Your Message</label>
                    <textarea class="form-control" rows="6" id="msgr" placeholder="Describe your experience"></textarea>
                </div>
                <div class="text-right">
                    <button type="button btn-block" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>