<!-- Content -->
<div class="page-content bg-white">
  <div
    class="dez-bnr-inr overlay-black-middle"
    style="background-image: url(assets/customer/images/banner/bnr1.jpg)"
  >
    <div class="container">
      <div class="dez-bnr-inr-entry">
        <h1 class="text-white">Detail Chauffeur</h1>
        <div class="breadcrumb-row">
          <ul class="list-inline">
            <li><a routerLink="/">Accueil</a></li>
            <li>Detail Chauffeur</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content-block">
    <div class="section-full content-inner-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="sticky-top">
              <div class="row">
                <div class="col-lg-12 col-sm-6">
                  <div class="m-b30">
                    <img
                      src="{{
                        this.chauffService.apiServerUrl +
                          '/chauffeurs/photoChauffeur/' +
                          chauffeurDTO.id
                      }}"
                      alt="Product Image"
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-sm-6">
                  <div
                    class="widget bg-white p-lr20 p-t20 widget_getintuch radius-sm"
                  >
                    <h4 class="text-black font-weight-700 p-t10 m-b15">
                      Détail Chauffeurs
                    </h4>
                    <ul>
                      <li>
                        <i class="ti-location-pin"></i
                        ><strong class="font-weight-700 text-black"
                          >Address</strong
                        >
                        <span class="text-black-light">{{
                          chauffeurDTO?.addresseDto?.ville
                        }}</span>
                      </li>
                      <li>
                       <strong class="font-weight-700 text-black"
                          >Salaire</strong
                        >
                        {{ chauffeurDTO?.pretentionSalaire }} F/ Mois
                      </li>
                      <li>
                        <i class="ti-shield"></i
                        ><strong class="font-weight-700 text-black"
                          >Experience</strong
                        >{{ chauffeurDTO?.nbreAnneeExperience }} Experience
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-12 col-sm-6">
                  <div class="page-content bg-white" *ngFor="let rat of notificationListDTO; let i=index;">
                    <div class="content-block">
                      <h5>{{ rat.utilisateurDto.name }} - <span>{{ rat.createdDate | date:'dd-MM-yyyy' }}</span></h5>
      
                      <div class="ratting" style="font-size: 15px;">
                        <ngb-rating
      
                        [(rate)]="rat.nbreEtoile"
                        [id]="'rating3'"
                        [readonly]="true"
                        [max]="maxRatingValue"
                      >
                      </ngb-rating>
      
                    </div>
                    <p style="font-size: 15px;">
                      {{ rat.observation }}
                    </p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>



          <div class="col-lg-8">
            <div class="job-info-box">
              <h3
                class="m-t0 m-b10 font-weight-700 title-head"
                style="font-size: 28px"
              >
                {{ chauffeurDTO?.firstName }} {{ chauffeurDTO?.lastName }}
              </h3>
              <p class="p-t20" style="font-size: 28px">
                Sexe :
                <strong>{{ chauffeurDTO?.sexe }}</strong>
              </p>

              <p class="p-t20" style="font-size: 28px">
                Adresse :
                <strong>{{ chauffeurDTO?.addresseDto?.ville }}</strong>
              </p>
              <h5 class="font-weight-600" style="font-size: 30px">
                Informations Utiles
              </h5>
              <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
              <p *ngIf="this.isLoggedIn" style="font-size: 28px">
                Téléphone :
                <a
                href="https://wa.me/+221771055941"
                class="btn btn-success"
                style="margin-top: 25px;
                cursor: pointer;"
                >Appeler</a
              >
              </p>
              &nbsp;
              <p *ngIf="this.isLoggedIn" style="font-size: 28px">
                Email : <strong>{{ chauffeurDTO?.email }}</strong>
              </p>
              &nbsp;
              <a href="">
                <p style="font-size: 28px">CV Chauffeur :</p>
                <a
                  *ngIf="this.isLoggedIn"
                  class="btn btn-warning"
                  href="http://localhost:8081/sen-chauffeurs/v1/chauffeurs/downloadContratFile/{{
                    chauffeurDTO.cvChauffeur
                  }}"
                  >&nbsp;
                  <i
                    class="fa fa-download"
                    style="cursor: pointer; align-items: flex-end"
                  ></i
                  >&nbsp; Télécharger CV </a
                >&nbsp;&nbsp;

                <a
                  *ngIf="!this.isLoggedIn"
                  class="btn btn-warning"
                  routerLink="/auth/signIn"
                  >&nbsp;
                  <i
                    class="fa fa-download"
                    style="cursor: pointer; align-items: flex-end"
                  ></i
                  >&nbsp; Télécharger CV
                </a> </a
              >&nbsp;&nbsp;

              <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>&nbsp;&nbsp;
              <h5 class="font-weight-600" style="font-size: 30px">
                Informations Permis
              </h5>
              <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
              <p style="font-size: 28px">
                Type permis :
                <strong>{{ chauffeurDTO?.permisDto?.typePermis }}</strong>
              </p>
              &nbsp;
              <p style="font-size: 28px">
                Permis :
                <strong>{{ chauffeurDTO?.permisDto?.designation }}</strong>
              </p>
              &nbsp;
              <h5 class="font-weight-600" style="font-size: 30px">
                Disponilités et Localité
              </h5>

              <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
              <p style="font-size: 28px">
                Disponilité : <strong>{{ chauffeurDTO?.disponibity }}</strong>
              </p>
              &nbsp;
              <p style="font-size: 28px">
                Addresse :
                <strong>{{ chauffeurDTO?.addresseDto?.ville }}</strong>
              </p>
              &nbsp;
              <p style="font-size: 28px">
                Mobilité : <strong>{{ chauffeurDTO?.mobilite }}</strong>
              </p>
              &nbsp;&nbsp;
              <p style="font-size: 28px">
                Membre depuis :
                <strong>{{
                  chauffeurDTO?.dateInscription | date: "dd-MM-yyyy"
                }}</strong>
              </p>
              <!-- <ul class="list-num-count no-round">
                                <li>Type de Permis: <strong>{{chauffeurDTO?.permisDto.typePermis}}</strong></li>
                                <li>Who We Are and <strong>{{chauffeurDTO?.permisDto.designation}}</strong></li>
                                <li>Remaining <strong>{{chauffeurDTO?.permisDto.validite}}</strong> in the 1960s </li>
                                <li>Lorem Ipsum <strong>{{chauffeurDTO?.nbreAnneeExperience}}</strong> standard dummy text ever since the 1500s,</li>
                                <li>DexignLab standard dummy text ever since</li>
                            </ul> -->
              <!--  <a href="#" class="site-button">Apply This Job</a> -->
            </div>
          </div>
        </div>
        <div class="row">
          
           
          <div class="col-lg-4" *ngIf="this.isLoggedIn">
            <div class="page-content bg-white">
              <div class="content-block">
                <h4>Votre Avis:</h4>
                <form [formGroup]="this.formData" name="form">
                  <div class="form-group">
                    <!--   <label>Nbre Etoile</label> -->
                    <ngb-rating
                      formControlName="nbreEtoile"
                      [(rate)]="currentRating"
                      [max]="maxRatingValue"
                      [readonly]="false"
                      [id]="'rating3'"
                      [readonly]="false"
                      (rateChange)="onRateChange($event)"
                    >
                    </ngb-rating>
                    <div
                      *ngIf="
                        f['nbreEtoile'].invalid &&
                        (f['nbreEtoile'].dirty || f['nbreEtoile'].touched)
                      "
                      class="alert alert-danger"
                    >
                      <span *ngIf="f['nbreEtoile'].errors.required"
                        >Le choix du nombre d'étoiles est obligatoire.</span
                      >
                    </div>
                  </div>

                  <div class="form-group">
                    <!--  <label>Observation</label> -->
                    <textarea
                      class="form-control"
                      formControlName="observation"
                      id="observation"
                      required
                      placeholder="Votre commentaire"
                    ></textarea>

                    <div
                      *ngIf="
                        f['observation'].invalid &&
                        (f['observation'].dirty || f['observation'].touched)
                      "
                      class="alert alert-danger"
                    >
                      <span *ngIf="f['observation'].errors.required"
                        >Le commentaire est obligatoire.</span
                      >
                    </div>
                  </div>

                  <div class="form-group">
                    <button
                      type="submit "
                      class="btn btn-success btn-block"
                      [disabled]="!this.formData.valid"
                      (click)="onAddNotation()"
                    >
                      <i class="fa fa-database"></i> Envoyer</button
                    >&nbsp;
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-lg-2"></div>
          <!-- <div class="col-lg-6 ">
                        <app-create-notification></app-create-notification>
                    </div> -->
        </div>
      </div>
    </div>
    <!-- Job Detail -->
  </div>
</div>

<!-- Content END-->
