<!-- Content -->
<div class="page-content bg-white">
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(assets/customer/images/banner/bnr1.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Detail Chauffeur</h1>
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a routerLink="/">Accueil</a></li>
                        <li> Detail Chauffeur</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-block">
        <div class="section-full content-inner-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="sticky-top">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="m-b30">
                                        <!--  <img src="assets/customer/images/blog/grid/pic1.jpg" alt=""> -->
                                        <img src="{{this.chauffService.apiServerUrl+'/chauffeurs/photoChauffeur/'+chauffeurDTO.id}}" alt="Product Image">

                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="widget bg-white p-lr20 p-t20  widget_getintuch radius-sm">
                                        <h4 class="text-black font-weight-700 p-t10 m-b15">Détail Chauffeurs</h4>
                                        <ul>
                                            <li><i class="ti-location-pin"></i><strong class="font-weight-700 text-black">Address</strong>
                                                <span class="text-black-light">{{chauffeurDTO?.addresseDto?.quartier}}</span>
                                            </li>
                                            <li><i class="ti-money"></i><strong class="font-weight-700 text-black">Salary</strong> ${{chauffeurDTO?.pretentionSalaire}} Monthy</li>
                                            <li><i class="ti-shield"></i><strong class="font-weight-700 text-black">Experience</strong>{{chauffeurDTO?.nbreAnneeExperience}} Experience</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="job-info-box">
                            <h3 class="m-t0 m-b10 font-weight-700 title-head">
                                <a href="#" class="text-secondry m-r30"> {{chauffeurDTO?.firstName}} {{chauffeurDTO?.lastName}}</a>
                            </h3>
                            <ul class="job-info">
                                <li>Sexe : <strong> {{chauffeurDTO?.sexe}} </strong> </li>
                                <!-- <li>Adress: <strong> {{chauffeurDTO?.addressActuel}} Deadline : </strong>{{chauffeurDTO?.disponibity}}</li>
                                <li><i class="ti-location-pin text-black m-r5"></i>{{chauffeurDTO?.addressActuel}}</li> -->
                            </ul>
                            <p class="p-t20">
                                <a href="#">Adresse : <strong>{{chauffeurDTO?.addressActuel}}</strong></a></p>
                            <h5 class="font-weight-600">Informations Utiles</h5>
                            <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
                            <p *ngIf="this.isLoggedIn">Téléphone : <strong>{{chauffeurDTO?.phoneChauffeur}}</strong></p>
                            <p *ngIf="this.isLoggedIn">Email : <strong>{{chauffeurDTO?.email}}</strong></p>
                            <a href="">
                                <p>CV Chauffeur : </p>
                                <a *ngIf="this.isLoggedIn" (click)="openPDF()" class="btn btn-info">&nbsp;&nbsp;
                                  <i class="fa fa-eye" style="cursor:pointer; align-items: flex-end;"></i>

                                  Voir CV
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                               <!--  <pdf-viewer src="{{this.chauffService.apiServerUrl+'/chauffeurs/cvChauffeur/'+chauffeurDTO.id}}"
                                  #pdfViewerOnDemand
                                  [stick-to-page]="true"
                                  [original-size]="true"
                                  [render-text]="true" style="display: block;">
                                </pdf-viewer> -->

                                <a *ngIf="this.isLoggedIn" class="btn btn-drink" href="http://localhost:8081/sen-chauffeurs/v1/chauffeurs/downloadContratFile/{{chauffeurDTO.cvChauffeur}}">&nbsp;&nbsp;
                                  <i class="fa fa-download" style="cursor:pointer; align-items: flex-end;"></i>&nbsp;&nbsp;
                                  Télécharger CV
                                </a>


                            </a>

                            <!-- <p>Disponibilité: <strong>{{chauffeurDTO?.disponibity}}</strong></p>
                            <p>Mobilité: <strong>{{chauffeurDTO?.mobilite}}</strong></p> -->
                            <h5 class="font-weight-600">Informations Permis</h5>
                            <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
                            <p>Type permis : <strong>{{chauffeurDTO?.permisDto?.typePermis}}</strong></p>
                            <p>Permis : <strong>{{chauffeurDTO?.permisDto?.designation}}</strong></p>
                            <h5 class="font-weight-600">Disponilités et Localité</h5>
                            <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
                            <p>Disponilité : <strong>{{chauffeurDTO?.disponibity}}</strong></p>
                            <p>Quartier : <strong>{{chauffeurDTO?.addresseDto?.quartier}}</strong></p>
                            <p>Mobilité : <strong>{{chauffeurDTO?.mobilite}}</strong></p>
                            <!-- <ul class="list-num-count no-round">
                                <li>Type de Permis: <strong>{{chauffeurDTO?.permisDto.typePermis}}</strong></li>
                                <li>Who We Are and <strong>{{chauffeurDTO?.permisDto.designation}}</strong></li>
                                <li>Remaining <strong>{{chauffeurDTO?.permisDto.validite}}</strong> in the 1960s </li>
                                <li>Lorem Ipsum <strong>{{chauffeurDTO?.nbreAnneeExperience}}</strong> standard dummy text ever since the 1500s,</li>
                                <li>DexignLab standard dummy text ever since</li>
                            </ul> -->
                            <!--  <a href="#" class="site-button">Apply This Job</a> -->
                        </div>
                    </div>

                </div>
                <div class="row">
                  <div class="col-lg-4" *ngIf="this.isLoggedIn">
                    <app-create-rating></app-create-rating>
                  </div>
                   <!--  <div class="col-lg-4">
                        <div class="page-content bg-white">
                            <div class="content-block">
                                <form #addNotationForm="ngForm" name="form">
                                    <div class="form-group ">
                                        <label>Reference</label>
                                        <input type="text " [(ngModel)]="addEditNotationDTO.reference" name="reference " id="reference" class="form-control" placeholder="reference de la notification" #reference="ngModel" required>
                                        <span class="text-danger " *ngIf=" (reference.touched || addNotationForm.submitted) && reference.errors?.required">
                                            Reference Obligatoire
                                        </span>
                                    </div>
                                    <div class="form-group ">
                                        <label>Nbre Etoile</label>
                                        <input type="text " class="form-control " [(ngModel)]="addEditNotationDTO.nbreEtoile" name="nbreEtoile" id="nbreEtoile" placeholder="nombre étoiles" #nbreEtoile="ngModel" required />
                                        <span class="text-danger " *ngIf=" (nbreEtoile.touched || addNotationForm.submitted) && nbreEtoile.errors?.required ">
                                          nbre etoile est obligatoire
                                        </span>
                                    </div>

                                    <div class="form-group ">
                                        <label>Observation</label>
                                        <textarea class="form-control " rows="5" [(ngModel)]="addEditNotationDTO.observation"
                                        name="observation" placeholder="commentaire" id="observation " #observation="ngModel"></textarea>
                                        <span class="text-danger " *ngIf=" (observation.touched || addNotationForm.submitted) && observation.errors?.required ">
                                          observation est obligatoire
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit " class="btn btn-success btn-block" (click)="onAddNotation() ">
                                                    <i class="fa fa-database"></i> Submit
                                                  </button>&nbsp;
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div> -->

                    <div class="col-lg-2 ">
                    </div>
                    <!-- <div class="col-lg-6 ">
                        <app-create-notification></app-create-notification>
                    </div> -->

                </div>


            </div>
        </div>
        <!-- Job Detail -->

    </div>
</div>

<!-- Content END-->
