<body class="fixed-left">

  <!-- Begin page -->
  <div id="wrapper">

      <!-- ========== Left Sidebar Start ========== -->
      <app-backend-sidebar></app-backend-sidebar>
      <!-- Left Sidebar End -->

      <div class="content-page">
          <!-- Start content -->
          <div class="content">
              <app-backend-header></app-backend-header>
              <!-- Top Bar End -->

              <div class="page-content-wrapper">

                  <router-outlet></router-outlet>

              </div>

          </div>
          <!-- content -->
          <app-backend-footer></app-backend-footer>


      </div>
      <!-- End Right content here -->


  </div>





</body>
