<div class="container">
    <div class="section-head d-flex head-counter clearfix">
        <div class="mr-auto">
            <h2 class="m-b5">Plusieurs type chauffeurs</h2>
            <h6 class="fw3">+{{ numberOfChauffeur }} Chauffeurs pour vous servir</h6>
        </div>
        <div class="head-counter-bx">
            <h2 class="m-b5 counter">+{{ numberOfChauffeur }}</h2>
            <h6 class="fw3">Chauffeurs</h6>
        </div>
        <div class="head-counter-bx">

        </div>
        <div class="head-counter-bx">
            <h2 class="m-b5 counter">+{{ numberOfAnnonce }}</h2>
            <h6 class="fw3">Offres</h6>
        </div>
    </div>
    <div class="row sp20">
        <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let chaufDTO of chauffeurListDTOBySelected; let i = index">
            <div class="icon-bx-wraper">
                <div class="icon-content">
                    <img [routerLink]="['/detail-chauffeur', chaufDTO.id]" src="{{
              this.chauffeurService.apiServerUrl +
                '/chauffeurs/photoChauffeurInFolder/' +
                chaufDTO.id
            }}" alt="Product Image" style="cursor: pointer" />&nbsp;&nbsp;

                    <a [routerLink]="['/detail-chauffeur', chaufDTO.id]" class="dez-tilte" style="cursor: pointer">{{ chaufDTO.firstName }}, {{ chaufDTO.lastName }}</a
          >
          <a href="#" class="dez-tilte">{{ chaufDTO?.reference }}</a>

                    <a class="dez-tilte" href="https://wa.me/+221771055941" style="cursor: pointer; margin-top: 25px; font-size: 20px;">Réserver</a>

                    <div class="rotate-icon col-lg-12 text-center m-t30">

                        <i class="ti-location-pin"></i></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 text-center m-t30" *ngIf="this.isLoggedIn">
            <button class="site-button radius-xl" routerLink="/browse-candidates">
        Voirs tous les Chauffeurs
      </button>
        </div>

        <div class="col-lg-12 text-center m-t30" *ngIf="!this.isLoggedIn">
            <button class="site-button radius-xl" routerLink="/auth/signIn">
        Voirs tous les Chauffeurs
      </button>
        </div>
    </div>
</div>