<div class="container">
    <div class="section-head d-flex head-counter clearfix">
        <div class="mr-auto">
            <h2 class="m-b5">Popular Categories</h2>
            <h6 class="fw3">20+ Catetories work wating for you</h6>
        </div>
        <div class="head-counter-bx">
            <h2 class="m-b5 counter">1800</h2>
            <h6 class="fw3">Jobs Posted</h6>
        </div>
        <div class="head-counter-bx">
            <h2 class="m-b5 counter">4500</h2>
            <h6 class="fw3">Tasks Posted</h6>
        </div>
        <div class="head-counter-bx">
            <h2 class="m-b5 counter">1500</h2>
            <h6 class="fw3">Freelancers</h6>
        </div>
    </div>
    <div class="row sp20">
        <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let chaufDTO of chauffeurListDTO; let i=index;">
            <div class="icon-bx-wraper">
                <div class="icon-content">
                    <div class="icon-md text-primary m-b20"><i class="ti-location-pin"></i></div>
                    <!--   <a href="#" class="dez-tilte">Design, Art & Multimedia</a> -->
                    <a href="#" class="dez-tilte">{{chaufDTO.firstName}}, {{chaufDTO.lastName}}</a>
                    <p class="m-a0">{{chaufDTO.permisDto?.designation}}</p>
                    <div class="rotate-icon"><i class="ti-location-pin"></i></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 text-center m-t30">
            <button class="site-button radius-xl" routerLink="/browse-candidates">All Chauffeurs</button>
        </div>
    </div>
</div>
