<div class="page-content bg-white">
    <div class="content-block">
        <h4> Votre Avis:</h4>
        <form [formGroup]="this.formData" name="form">

            <div class="form-group ">
                <ngb-rating formControlName="nbreEtoile" [(rate)]="currentRating" [max]="maxRatingValue" [readonly]="false" [id]="'rating3'" [readonly]="false" (rateChange)="onRateChange($event)">
                </ngb-rating>
                <div *ngIf="
                        f['nbreEtoile'].invalid &&
                        (f['nbreEtoile'].dirty || f['nbreEtoile'].touched)
                      " class="alert alert-danger">
                    <span *ngIf="f['nbreEtoile'].errors.required">Le choix du nombre d'étoiles est obligatoire.</span
                      >

                  </div>

              </div>

              <div class="form-group ">
                  <textarea class="form-control"
                    formControlName="observation"
                    id="observation" required placeholder="Votre commentaire"></textarea>

                    <div
                    *ngIf="
                      f['observation'].invalid &&
                      (f['observation'].dirty || f['observation'].touched)
                    "
                    class="alert alert-danger"
                  >
                    <span *ngIf="f['observation'].errors.required"
                      >Le commentaire de est obligatoire.</span
                    >

                  </div>
              </div>

              <div class="form-group">
                <button type="submit " class="btn btn-success btn-block" [disabled]="!this.formData.valid">
                      <i class="fa fa-database"></i> Envoyer
                </button>&nbsp;

              </div>
          </form>

      </div>
  </div>