<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image: url(assets/customer/images/banner/bnr1.jpg)">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">A Propos</h1>
                <!-- Breadcrumb row -->
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a routerLink="/">Accueil</a></li>
                        <li>Qui nous sommes ?</li>
                    </ul>
                </div>
                <!-- Breadcrumb row END -->
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <div class="content-block">
        <div class="section-full content-inner overlay-white-middle">
            <div class="container">
                <div class="row align-items-center m-b50">
                    <div class="col-md-12 col-lg-6 m-b20">
                        <h2 class="m-b5">A Propos</h2>
                        <h3 class="fw4">Decrouvrez une expérience unique</h3>
                        <p class="m-b15" style="font-size: 16px">
                            <a href="www.sunuchauffeur.com">
                                <strong> Sunuchauffeur </strong>
                            </a>

                            est la premiere <strong> plateforme </strong> d’emploi et de recrutement dédié exclusivement aux chauffeurs et conducteurs d’engins. Le site a pour but de mettre en relation les candidats à la recherche d'un emploi d’une part
                            les entreprises, organisations et particuliers d’autre part de tous secteurs d´activité souhaitant recruter des collaborateurs. L´inscription au site est gratuite et permet d´accéder à toutes les fonctions via un espace personnel
                            : recherche ciblée d’offres d’emploi ou de profils, publication d'annonces suivi des candidatures en temps réel et d´autres fonctions. .
                        </p>

                        <p class="m-b15" style="font-size: 16px">
                            Nous mettons a votre profil les meilleurs chauffeurs possibles.

                            <strong>
                Que vous cherchez des chauffeurs pour long duree ou pour sejour
                vous etes au bon endroid
              </strong> .
                        </p>

                        <p class="m-b15" style="font-size: 16px">
                            Tu es chauffeur beneficie des meilleurs emploi possible. <br /> Nous te facitons la tache dans la recherche d'emploie en selectionnant tous les offres disponibles. <br /> Nous t'accompagnons dans tous le processus de ton recrutement
                            en te fournissons tous les outils necessaire (rédaction de CV, lettres de motivation, etc.).
                        </p>

                        <p class="m-b15">
                            Tu es chauffeur qu'attend tu pour venir t'inscrire ?
                        </p>
                        <a href="https://wa.me/+221779440310" class="site-button">Contactez-nous
            </a>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <img src="assets/customer/images/our-work/pic1.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Why Chose Us -->
        <!-- Call To Action -->
        <div class="section-full content-inner-2 call-to-action overlay-black-dark text-white text-center bg-img-fix" style="background-image: url(assets/customer/images/background/bg4.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="m-b10">
                            Trouvez le chauffeur idéale pour votre entreprise, ou séjour!
                        </h2>
                        <p class="m-b0">
                            Des chauffeurs de tous types: chauffeur privé, chauffeur particulier, chauffeur de taxi
                        </p>
                        <a routerLink="/auth/signUp" class="site-button m-t20 outline outline-2 radius-xl">CREER VOTE COMPTE</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Call To Action END -->
    <!-- Our Latest Blog -->
    <div class="section-full content-inner-2 overlay-white-middle">
      <div class="container">
        <div class="section-head text-black text-center">
          <h2 class="text-uppercase m-b0">Notre mission est de vous servir</h2>
          <p>
            En vous faisant gagnez du temps dans votre recherche de chauffeur
            avec une assistance sans faille.
          </p>
        </div>
        <div
          class="blog-carousel owl-carousel owl-btn-center-lr owl-btn-3 owl-theme owl-btn-center-lr owl-btn-1"
        >
          <div class="item">
            <div class="blog-post blog-grid blog-style-1">
              <div class="dez-post-media dez-img-effect radius-sm">
                <a href="#"
                  ><img src="assets/customer/images/blog/grid/pic4.jpg" alt=""
                /></a>
                    </div>
                    <div class="dez-info">
                        <div class="dez-post-meta">
                            <ul class="d-flex align-items-center">
                                <li class="post-date">
                                    <i class="fa fa-calendar"></i>September 18, 2017
                                </li>
                                <li class="post-comment">
                                    <i class="fa fa-comments-o"></i><a href="#">5k</a>
                                </li>
                            </ul>
                        </div>
                        <div class="dez-post-title">
                            <h5 class="post-title font-20">
                                <a href="#">Do you have a job that the average person doesn even know
                      exists?</a
                    >
                  </h5>
                </div>
                <div class="dez-post-text">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy..
                  </p>
                </div>
                <div class="dez-post-readmore blog-share">
                  <a
                    href="#"
                    title="READ MORE"
                    rel="bookmark"
                    class="site-button outline"
                    >READ MORE</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="blog-post blog-grid blog-style-1">
              <div class="dez-post-media dez-img-effect radius-sm">
                <a href="#"
                  ><img src="assets/customer/images/blog/grid/pic3.jpg" alt=""
                /></a>
                        </div>
                        <div class="dez-info">
                            <div class="dez-post-meta">
                                <ul class="d-flex align-items-center">
                                    <li class="post-date">
                                        <i class="fa fa-calendar"></i>September 18, 2017
                                    </li>
                                    <li class="post-comment">
                                        <i class="fa fa-comments-o"></i><a href="#">5k</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dez-post-title">
                                <h5 class="post-title font-20">
                                    <a href="#">Do you have a job that the average person doesn even know
                      exists?</a
                    >
                  </h5>
                </div>
                <div class="dez-post-text">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy..
                  </p>
                </div>
                <div class="dez-post-readmore blog-share">
                  <a
                    href="#"
                    title="READ MORE"
                    rel="bookmark"
                    class="site-button outline"
                    >READ MORE</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="blog-post blog-grid blog-style-1">
              <div class="dez-post-media dez-img-effect radius-sm">
                <a href="#"
                  ><img src="assets/customer/images/blog/grid/pic2.jpg" alt=""
                /></a>
                            </div>
                            <div class="dez-info">
                                <div class="dez-post-meta">
                                    <ul class="d-flex align-items-center">
                                        <li class="post-date">
                                            <i class="fa fa-calendar"></i>September 18, 2017
                                        </li>
                                        <li class="post-comment">
                                            <i class="fa fa-comments-o"></i><a href="#">5k</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dez-post-title">
                                    <h5 class="post-title font-20">
                                        <a href="#">Do you have a job that the average person doesn even know
                      exists?</a
                    >
                  </h5>
                </div>
                <div class="dez-post-text">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy..
                  </p>
                </div>
                <div class="dez-post-readmore blog-share">
                  <a
                    href="#"
                    title="READ MORE"
                    rel="bookmark"
                    class="site-button outline"
                    >READ MORE</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="blog-post blog-grid blog-style-1">
              <div class="dez-post-media dez-img-effect radius-sm">
                <a href="#"
                  ><img src="assets/customer/images/blog/grid/pic1.jpg" alt=""
                /></a>
                                </div>
                                <div class="dez-info">
                                    <div class="dez-post-meta">
                                        <ul class="d-flex align-items-center">
                                            <li class="post-date">
                                                <i class="fa fa-calendar"></i>September 18, 2017
                                            </li>
                                            <li class="post-comment">
                                                <i class="fa fa-comments-o"></i><a href="#">5k</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dez-post-title">
                                        <h5 class="post-title font-20">
                                            <a href="#">Do you have a job that the average person doesn even know
                      exists?</a
                    >
                  </h5>
                </div>
                <div class="dez-post-text">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy..
                  </p>
                </div>
                <div class="dez-post-readmore blog-share">
                  <a
                    href="#"
                    title="READ MORE"
                    rel="bookmark"
                    class="site-button outline"
                    >READ MORE</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Our Latest Blog -->
  </div>
  <!-- contact area END -->
</div>
<!-- Content END-->