<div class="page-content bg-white">
    <div class="dez-bnr-inr overlay-black-middle" style="background-image: url(assets/customer/images/banner/bnr1.jpg)">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Detail Offre</h1>
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a routerLink="/">Accueil</a></li>
                        <li>Détail de l'Offre</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-block">

        <div class="section-full content-inner-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="sticky-top">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="m-b30">
                                        <img src="assets/customer/images/blog/grid/pic1.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="widget bg-white p-lr20 p-t20 widget_getintuch radius-sm">
                                        <h4 class="text-black font-weight-700 p-t10 m-b15">
                                            Details Offre
                                        </h4>
                                        <ul>
                                            <li>
                                                <i class="ti-location-pin"></i
                        ><strong class="font-weight-700 text-black"
                          ></strong
                        >
                        <span class="text-black-light">
                          <i class="fa fa-map-marker"></i> {{annonceDTO?.addresseDto?.ville}}, {{annonceDTO?.addresseDto?.pays}}
                                                </span>
                                            </li>
                                            <li>
                                                <i class="ti-money"></i
                        ><strong class="font-weight-700 text-black"
                          ></strong
                        >
                        {{ annonceDTO?.typeContrat }}
                      </li>
                      <li>
                        <i class="ti-shield"></i
                        ><strong class="font-weight-700 text-black"
                          ></strong
                        >{{ annonceDTO?.proExperience }} Experience
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="job-info-box">

              <h4 class="m-t0 font-weight-700 title-head">
                
                <a href="#" class="text-secondry">{{
                  annonceDTO?.libelle
                }}</a>
              </h4>
              <p class="p-t20">
                <a>
                  <strong>{{
                    annonceDTO?.utilisateurDto.nomEntreprise
                  }}</strong></a> :
                <a
                  >
                  <strong>{{
                    annonceDTO?.utilisateurDto.secteurActivite
                  }}</strong></a
                ><br>
                {{
                  annonceDTO?.utilisateurDto.information
                }}
              </p>
             
              <ul class="job-info">
                <li> Publié le :
                  <strong> {{ annonceDTO?.dateCandidature | date: 'dd-MM-yyyy' }} </strong
                  >
                </li>
              </ul>&nbsp;&nbsp;
              
              <h5 class="font-weight-600">Description Offre</h5>
              <div class="dez-divider divider-2px bg-gray-dark mb-2 mt-0"></div>
              <p>{{ annonceDTO?.description }}.</p>
              <h5 class="font-weight-600">Comment Postuler ?</h5>
              <div class="dez-divider divider-2px bg-gray-dark mb-2 mt-0"></div>
              <p>

                 Référence du Poste :
                <strong
                  >
                  {{ annonceDTO?.reference }}</strong
                >

              </p>


              <p>

               Visitez notre site :  {{ annonceDTO?.utilisateurDto.website}}
                 
               
              </p>

              <h5 class="font-weight-600">Profil Recherché</h5>
              <div class="dez-divider divider-2px bg-gray-dark mb-2 mt-0"></div>
              <ul class="list-num-count no-round">
                <li>
                  Type de Permis:
                  <strong>{{ annonceDTO?.permisDto.typePermis }}</strong>
                </li>
                <li>
                  Libelle Permis :
                  <strong>{{ annonceDTO?.permisDto.designation }}</strong>
                </li>
                <li>
                  Disponibilité :
                  <strong>{{ annonceDTO?.time }}</strong>

                </li>
                <li>
                  Expérience :
                  <strong>{{ annonceDTO?.proExperience }}</strong>

                </li>
                <li>
                  Email Poste :
                  <strong>{{ annonceDTO?.emailPoste }}</strong>
                </li>

                <li>
                  Date limite :
                  <strong>{{ annonceDTO?.dateCloture | date: 'dd-MM-yyyy' }}</strong>
                </li>
              </ul>
              <!--
              <a href="#"
                class="site-button">
                Apply This Job</a>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Job Detail -->
    <!-- Our Jobs -->

    <!-- Our Jobs END -->
  </div>
</div>
<!-- Content END-->