<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Nouveau Chaffeur</h1>
            <form #addChauffeurForm="ngForm" name="form" (ngSubmit)="onAddChauffeur()">
                <div class="form-group">
                    <label>FirstName</label>
                    <input type="text" class="form-control" [(ngModel)]="formDataChauffeurDTO.firstName" name="firstName" id="firstName" #firstName="ngModel" required />
                    <span class="text-danger" *ngIf="
            (firstName.touched || addChauffeurForm.submitted) &&
            firstName.errors?.required
          ">
          firstName est obligatoire
        </span>
                </div>

                <div class="form-group">
                    <label>LastName</label>
                    <input type="text" class="form-control" [(ngModel)]="formDataChauffeurDTO.lastName" name="lastName" id="lastName" #lastName="ngModel" required />
                    <span class="text-danger" *ngIf="
            (lastName.touched || addChauffeurForm.submitted) &&
            lastName.errors?.required
          ">
          lastName est obligatoire
        </span>
                </div>

                <div class="form-group">
                    <label>Permis</label>
                    <div class="form-group">
                        <select name="permis" [(ngModel)]="formDataChauffeurDTO.permisDto" class="form-control">
            <option *ngFor="let art of listPermisData"
              [ngValue]="art.id == formDataChauffeurDTO.permisDto?.id ? formDataChauffeurDTO.permisDto : art">{{art.designation}}</option>
          </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>addressActuel</label>
                    <input type="text" class="form-control" [(ngModel)]="formDataChauffeurDTO.addressActuel" name="addressActuel" id="addressActuel" #addressActuel="ngModel" required />
                    <span class="text-danger" *ngIf="
            (addressActuel.touched || addChauffeurForm.submitted) &&
            addressActuel.errors?.required
          ">
          addressActuel est obligatoire
        </span>
                </div>

                <div class="form-group">
                    <label>Phone Chauffeur</label>
                    <input type="text" class="form-control" [(ngModel)]="formDataChauffeurDTO.phoneChauffeur" name="phoneChauffeur" id="phoneChauffeur" #phoneChauffeur="ngModel" required />
                    <span class="text-danger" *ngIf="
          (phoneChauffeur.touched || addChauffeurForm.submitted) &&
          phoneChauffeur.errors?.required
        ">
        phoneChauffeur est obligatoire
      </span>
                </div>

                <div class="form-group">
                    <label>Email </label>
                    <input type="text" class="form-control" [(ngModel)]="formDataChauffeurDTO.email" name="email" id="email" #email="ngModel" required />
                    <span class="text-danger" *ngIf="
        (email.touched || addChauffeurForm.submitted) &&
        email.errors?.required
      ">
      email est obligatoire
    </span>
                </div>

                <div class="form-group">
                    <label>Experience </label>
                    <input type="text" class="form-control" [(ngModel)]="formDataChauffeurDTO.nbreAnneeExperience" name="nbreAnneeExperience" id="nbreAnneeExperience" #nbreAnneeExperience="ngModel" required />
                    <span class="text-danger" *ngIf="
      (nbreAnneeExperience.touched || addChauffeurForm.submitted) &&
      nbreAnneeExperience.errors?.required
    ">
    nbreAnneeExperience est obligatoire
  </span>
                </div>

                <div class="form-group">
                    <label>pretention Salaire </label>
                    <input type="text" class="form-control" [(ngModel)]="formDataChauffeurDTO.pretentionSalaire" name="pretentionSalaire" id="pretentionSalaire" #pretentionSalaire="ngModel" required />
                    <span class="text-danger" *ngIf="
    (pretentionSalaire.touched || addChauffeurForm.submitted) &&
    pretentionSalaire.errors?.required
  ">
  pretentionSalaire est obligatoire
</span>
                </div>

                <div class="form-group">
                    <label>photoChauffeur </label>
                    <input type="text" class="form-control" [(ngModel)]="formDataChauffeurDTO.photoChauffeur" name="photoChauffeur" id="photoChauffeur" #photoChauffeur="ngModel" required />
                    <span class="text-danger" *ngIf="
(photoChauffeur.touched || addChauffeurForm.submitted) &&
photoChauffeur.errors?.required
">
photoChauffeur est obligatoire
</span>
                </div>

                <div class="form-group">
                    <label>mobilite </label>
                    <input type="text" class="form-control" [(ngModel)]="formDataChauffeurDTO.mobilite" name="mobilite" id="mobilite" #mobilite="ngModel" required />
                    <span class="text-danger" *ngIf="
  (mobilite.touched || addChauffeurForm.submitted) &&
  mobilite.errors?.required
">
mobilite est obligatoire
</span>
                </div>

                <div class="form-group">
                    <label>CV </label>
                    <input type="file" class="form-control" [(ngModel)]="formDataChauffeurDTO.cvChauffeur" name="cvChauffeur" id="cvChauffeur" #cvChauffeur="ngModel" required />
                    <span class="text-danger" *ngIf="
(cvChauffeur.touched || addChauffeurForm.submitted) &&
cvChauffeur.errors?.required
">
cvChauffeur est obligatoire
</span>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success">
          <i class="fa fa-database"></i>
          Submit
        </button>
                    <button type="button" class="btn btn-danger ml-1">
          <i class="fa fa-close"></i>
          Close
        </button>
                </div>
            </form>
        </div>
    </div>
</div>
