<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Graphes</h1>

<!-- Content Row -->
<div class="row">
  <div class="col-xl-6 col-lg-6 col-sm-6">
    <!-- Area Chart -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">
          Nombre d'Annonces Par Mois
        </h4>
      </div>
      <div class="card-body" style="height: 600px">
        <app-list-number-of-annonce-by-month></app-list-number-of-annonce-by-month>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-6 col-sm-6">
    <!-- Area Chart -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">
          Nombre d'Annonce Par Années
        </h4>
      </div>
      <div class="card-body" style="height: 600px">
        <app-list-number-of-annonce-by-year></app-list-number-of-annonce-by-year>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 col-lg-6 col-sm-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">
          Nombre de chauffeurs inscrits Par Mois
        </h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <app-list-number-of-chauffeur-by-month></app-list-number-of-chauffeur-by-month>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-6 col-sm-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">
          Nombre de chauffeurs inscrits Par Années
        </h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <app-list-number-of-chauffeur-by-year></app-list-number-of-chauffeur-by-year>
        </div>
      </div>
    </div>
  </div>

</div>
