<div class="m-b30">
    <input type="text" #searchInShopInput (keyup.enter)="searchArticleInCandidate(searchInShopInput.value)" class="form-control" placeholder="Critere de recherche: Full-Time, Partial-Time">

    <!-- <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" #searchInShopInput (keyup.enter)="searchArticleInCandidate(searchInShopInput.ckick)" class="custom-control-input" id="check1" name="example1">
                <label class="custom-control-label" for="check1">Full-Time</label>
            </div>

        </div>

        <div class="col-lg-3 col-md-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" #searchInShopInput (keyup.enter)="searchArticleInCandidate(searchInShopInput.ckick)" class="custom-control-input" id="check2" name="example2">
                <label class="custom-control-label" for="check2">Partial-Time</label>
            </div>

        </div>

        <div class="col-lg-3 col-md-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check3" name="example3">
                <label class="custom-control-label" for="check3">Intermedial</label>
            </div>

        </div>
        <div class="col-lg-3 col-md-3">

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check4" name="example4">
                <label class="custom-control-label" for="check4">Immediateley</label>
            </div>
        </div>

    </div> -->
</div>