<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h3><i class="fa fa-angle-right"></i> List of Recruteurs</h3>
                    <div class="row">
                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />

                        <button _ngcontent-roy-c3="" class="btn-meeting" type="submit" style="margin-left: 5%; width: 30%;" (click)="onAddRecruteur()">Add Recruteur</button>

                    </div>

                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Entreprise</th>
                                <th>Recruteur</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Ville</th>
                                <th>Addresse</th>
                                <th>Secteur Activité</th>
                                <th>Website</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let recruteur of recruteurListDTO | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p} ">
                                <td>{{recruteur?.nomEntreprise}}</td>
                                <td>{{recruteur?.firstName}} {{recruteur?.lastName}}</td>
                                <td>{{recruteur?.phoneRecruteur}}</td>
                                <td>{{recruteur?.email}}</td>
                                <td>{{recruteur?.villeRecruteur}}</td>
                                <td>{{recruteur?.addressRecruteur}}</td>
                                <td>{{recruteur?.secteurActivite}}</td>
                                <td>{{recruteur?.website}}</td>

                                <td>
                                    <button class="btn btn-warning btn-sm" [routerLink]="['/backend/admin/recruteur', recruteur.id]">
                                  <i class="fa fa-edit" aria-hidden="true"></i> </button>&nbsp;
                                    <button class="btn btn-success btn-sm" [routerLink]="['/backend/admin/viewchauffeur', recruteur.id]">
                                          <i class="fa fa-eye" aria-hidden="true"></i> </button>&nbsp;

                                    <button class="btn btn-danger btn-sm" (click)="onDeleteRecruteur(recruteur.id)">
                                            <i class="fa fa-eye" aria-hidden="true"></i> </button>&nbsp;
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
