<div class="container">
    <div class="d-flex job-title-bx section-head">
        <div class="mr-auto">
            <h2 class="m-b5">Recentes Offres</h2>
            <h5 class="fw4 m-b0">{{numberOfAnnonce}}+ Offre postés</h5>
        </div>
        <div class="align-self-end">
            <a routerLink="/browse-job" class="site-button button-sm">Voir tous les Offres<i class="fa fa-long-arrow-right"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <ul class="post-job-bx">
                <li *ngFor="let annononceDTO of annonceListDTO; let i = index">
                    <a [routerLink]="['/job-detail', annononceDTO.reference]">
                        <div class="d-flex m-b30">
                            <div class="job-post-company">
                                <span><img src="assets/customer/images/logo/icon1.png"/></span>
                            </div>
                            <div class="job-post-info">
                                <h4>{{annononceDTO.libelle}}</h4>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> {{annononceDTO.lieuPoste}}</li>
                                    <li><i class="fa fa-bookmark-o"></i> {{annononceDTO.time}}</li>
                                    <li><i class="fa fa-clock-o"></i> Publié le {{annononceDTO.dateCandidature}}</li>
                                 <!--    <li><i class="fa fa-clock-o"></i> {{annononceDTO.statusAnnonce}}</li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="job-time mr-auto">
                                <span>{{annononceDTO.time}}</span>
                            </div>
                            <div class="salary-bx">
                                <span>{{annononceDTO.salaire}}</span>
                            </div>
                        </div>
                        <span class="post-like fa fa-heart-o"></span>
                    </a>
                </li>
            </ul>
           <!--  <div class="m-t30">
                <div class="d-flex">
                    <a class="site-button button-sm mr-auto" href="#"><i class="ti-arrow-left"></i> Prev</a>
                    <a class="site-button button-sm" href="#">Next <i class="ti-arrow-right"></i></a>
                </div>
            </div> -->
        </div>
        <div class="col-lg-3">
            <div class="sticky-top">
                <div class="candidates-are-sys m-b30">
                    <div class="candidates-bx">
                        <div class="testimonial-pic radius"><img src="assets/customer/images/testimonials/pic3.jpg" alt="" width="100" height="100"></div>
                        <div class="testimonial-text">
                            <p>J'ai trouvé un emploie prometteur! grace à la plateforme senchuffeur.</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">Richard Anderson</strong> <span class="testimonial-position">Nevada, USA</span> </div>
                    </div>
                </div>
                <div class="quote-bx">
                    <div class="quote-info">
                        <h4>Il suffit juste de les contactez!</h4>
                        <p>Ils ont un service d'assistance agréable!</p>
                        <a routerLink="/contact" class="site-button">Conactez-les</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
