<div class="container">
    <div class="d-flex job-title-bx section-head">
        <div class="mr-auto">
            <h2 class="m-b5">Recentes Offres</h2>
            <h5 class="fw4 m-b0">{{ numberOfAnnonce }}+ Offre postés</h5>
        </div>
        <div class="align-self-end">
            <a routerLink="/browse-job" class="site-button button-sm">Voir tous les Offres<i class="fa fa-long-arrow-right"></i
      ></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <ul class="post-job-bx" *ngFor="let annononceDTO of annonceListDTO; let i = index;">
                <li *ngIf="annononceDTO.status=='VALIDEE'">
                    <a [routerLink]="['/job-detail', annononceDTO.reference]">
                        <div class="d-flex m-b30">
                            <div class="job-post-company">
                                <span><img src="assets/customer/images/logo/icon1.png" /></span>
                            </div>
                            <div class="job-post-info">
                                <h4>{{ annononceDTO.libelle }}</h4>
                                <div class="d-flex">
                                    <div class="job-time mr-auto">
                                        {{ annononceDTO?.utilisateurDto.nomEntreprise }}
                                    </div>
                                    <div class="job-time align-center" style="margin-left: 350px;">
                                        <i class="fa fa-map-marker"></i> {{ annononceDTO?.addresseDto.ville }} , {{ annononceDTO?.addresseDto.pays }}
                                    </div>
                                    <div class="salary-bx" style="margin-left: 430px;">
                                        <span>{{ annononceDTO.typeContrat }}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="job-time mr-auto">
                                Disponobilité : {{ annononceDTO.time }}
                            </div>
                            <div class="salary-bx">
                                <span> Publié le : {{ annononceDTO.dateCandidature | date: "dd-MM-yyyy" }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>