<div class="page-bread mb70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Job Detail</h3>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb30">
        <div class="col-sm-6 mb40">
            <h2 class="left-title">Headings</h2>
            <h1>H1 Heading</h1>
            <h2>H2 Heading</h2>
            <h3>H3 Heading</h3>
            <h4>H4 Heading</h4>
            <h5>H5 Heading</h5>
            <h6>H6 Heading</h6>
        </div>
        <div class="col-sm-6 mb40">
            <h2 class="left-title">Sub Headings</h2>
            <h1>H1 Heading <small>Sub heading</small></h1>
            <h2>H2 Heading <small>Sub heading</small></h2>
            <h3>H3 Heading <small>Sub heading</small></h3>
            <h4>H4 Heading <small>Sub heading</small></h4>
            <h5>H5 Heading <small>Sub heading</small></h5>
            <h6>H6 Heading <small>Sub heading</small></h6>
        </div>
    </div>
    <div class="row mb30">
        <div class="col-sm-6 mb40">
            <h2 class="left-title">Paragraphs</h2>
            <p>
                Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
            </p>
            <p class="text-muted">
                Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
            </p>
            <p class="text-danger">
                Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
            </p>
            <p class="text-primary">
                Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
            </p>
            <p class="text-warning">
                Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
            </p>
        </div>
        <div class="col-sm-6 mb40">
            <h2 class="left-title">Text alignments</h2>
            <p class="text-left">
                1.Left- Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
            </p>
            <p class="text-center">
                1.Center- Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
            </p>
            <p class="text-right">
                1.Right- Doloremque laudantium, eaque ipsa quae ab illo inventore.
            </p>
        </div>
    </div>
</div>