<h3><i class="fa fa-angle-right"></i> List of Chauffeurs</h3>
<div>

    <div class="row">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />

        <button _ngcontent-roy-c3="" class="btn-meeting" type="submit" style="margin-left: 5%; width: 30%;" (click)="onAddChauffeur()">Add Chauffeur</button>

    </div>

    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Photo</th>
                <th>Reference</th>
                <th>Permis</th>
                <th>Chauffeur</th>
                <th>Addresse</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Expérience</th>
                <th>Salaire</th>
                <th>Mobilité</th>
                <th>CV</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let chauffDTO of chauffeurListDTO | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p} ">
                <td>{{chauffDTO?.photoChauffeur}}</td>
                <td>{{chauffDTO?.reference}}</td>
                <td>{{chauffDTO?.permisDto?.designation}}</td>
                <td>{{chauffDTO?.firstName}} {{chauffDTO?.lastName}}</td>
                <td>{{chauffDTO?.addressActuel}}</td>
                <td>{{chauffDTO?.phoneChauffeur}}</td>
                <td>{{chauffDTO?.email}}</td>
                <td>{{chauffDTO?.nbreAnneeExperience}}</td>
                <td>{{chauffDTO?.pretentionSalaire}}</td>
                <td>{{chauffDTO?.mobilite}}</td>
                <td>{{chauffDTO?.cvChauffeur}}</td>
                <td>
                    <div class=" container ">
                        <button mat-raised-button class="action-button btn-primary " (click)="addEditChauffeur(chauffDTO) ">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-raised-button class="action-button btn-danger " (click)="onDeleteChauffeur(chauffDTO) ">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </td>

            </tr>
        </tbody>

    </table>
    <div class="pagination ">
        <pagination-controls (pageChange)="p=$event "></pagination-controls>
    </div>
</div>
