<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h3><i class="fa fa-angle-right"></i> List of Chauffeurs</h3>
                    <div class="row">
                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />

                        <button class="btn-meeting" type="submit" style="margin-left: 5%; width: 30%;" (click)="onAddChauffeur()">Add Chauffeur</button>

                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>CV</th>
                                <th>Permis</th>
                                <th>Chauffeur</th>
                                <th>Téléphone</th>
                                <th>Email</th>
                                <th>Expérience</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let chauffDTO of chauffeurListDTO | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p};let i=index; ">
                                <td><img height="90" width="90" class="img-circle" src="{{this.chauffeurService.apiServerUrl+'/chauffeurs/photoChauffeur/'+chauffDTO.id}}"></td>

                                <td>{{chauffDTO?.cvChauffeur}} &nbsp;
                                    <a (click)="addEditCvChauffeur(i)" style="cursor:pointer; align-items: flex-end;">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>&nbsp;&nbsp;
                                    <a href="http://localhost:8081/sen-chauffeurs/v1/chauffeurs/downloadContratFile/{{chauffDTO.cvChauffeur}}" class="cv">&nbsp;&nbsp;
                                    <i class="fa fa-download" style="cursor:pointer; align-items: flex-end;"></i>&nbsp;&nbsp;
                                  </a>
                                </td>
                                <td>{{chauffDTO?.permisDto?.designation}}</td>
                                <td>{{chauffDTO?.firstName}} {{chauffDTO?.lastName}}</td>
                                <td>{{chauffDTO?.phoneChauffeur}}</td>
                                <td>{{chauffDTO?.email}}</td>
                                <td>{{chauffDTO?.nbreAnneeExperience}}</td>

                                <td>
                                    <button class="btn btn-warning btn-sm" [routerLink]="['/backend/admin/chauffeur', chauffDTO.id]">
                                    <i class="fa fa-edit" aria-hidden="true"></i> </button>&nbsp;
                                    <button class="btn btn-success btn-sm" [routerLink]="['/backend/admin/viewchauffeur', chauffDTO.id]">
                                            <i class="fa fa-eye" aria-hidden="true"></i> </button>&nbsp;

                                    <button class="btn btn-danger btn-sm" (click)="onDeleteChauffeur(chauffDTO.id)">
                                              <i class="fa fa-eye" aria-hidden="true"></i> </button>&nbsp;
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
