<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h3><i class="fa fa-angle-right"></i> Liste des Chauffeurs</h3>
                    <div class="row">
                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />

                        <button *ngIf="this.showAdminBoard || this.showManagerBoard" class="btn-meeting" type="submit" style="margin-left: 5%; width: 30%" (click)="onAddChauffeur()">
                          <i class="fa fa-plus"></i>
              Ajouter Chauffeur
            </button>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>CV</th>
                                <th>Permis</th>
                                <th>Chauffeur</th>
                                <th>Téléphone</th>
                                <th>Email</th>
                                <th>Expérience</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                  let chauffDTO of chauffeurListDTO
                    | filter: searchText
                    | paginate: { itemsPerPage: 30, currentPage: p };
                  let i = index
                ">
                                <td>
                                    <img height="90" width="90" class="img-circle" src="{{
                      this.chauffeurService.apiServerUrl +
                        '/chauffeurs/photoChauffeurInFolder/' +
                        chauffDTO.id
                    }}" />

                                </td>

                                <td>
                                    {{ chauffDTO?.cvChauffeur }} &nbsp;

                                    <a *ngIf="this.showAdminBoard || this.showManagerBoard" href="{{
                      this.chauffeurService.apiServerUrl +
                        '/chauffeurs/downloadCvFile/' +
                        chauffDTO.cvChauffeur
                    }}" class="cv">
                                        <i class="fa fa-download" style="cursor: pointer; align-items: flex-end"></i
                    >&nbsp;
                  </a>
                                </td>
                                <td>{{ chauffDTO?.permisDto?.designation }}</td>
                                <td>{{ chauffDTO?.firstName }} {{ chauffDTO?.lastName }}</td>
                                <td>{{ chauffDTO?.phoneChauffeur }}</td>
                                <td>{{ chauffDTO?.email }}</td>
                                <td>{{ chauffDTO?.nbreAnneeExperience }}</td>

                                <td>
                                    <button
                                    *ngIf="this.showAdminBoard || this.showManagerBoard"
                                     class="btn btn-warning btn-sm" [routerLink]="['/admin/accueil/chauffeur', chauffDTO.id]">
                    <i class="fa fa-edit" aria-hidden="true"></i></button>&nbsp;
                                        <button class="btn btn-success btn-sm" [routerLink]="[
                      '/admin/accueil/viewchauffeur',
                      chauffDTO.id
                    ]">
                    <i class="fa fa-eye" aria-hidden="true"></i></button
                  >&nbsp;

                  <button
                  class="btn btn-primary btn-sm"
                  (click)="sendMailToChauffeur(chauffDTO)"
                >
                  <i class="fa fa-envelope" aria-hidden="true"></i></button
                >&nbsp;

                  <button
                  *ngIf="this.showAdminBoard"
                    class="btn btn-danger btn-sm"
                    (click)="onDeleteChauffeur(chauffDTO.id)"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i></button
                  >&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>