/* .navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .site-header .navbar-toggler, .site-header .is-fixed .navbar-toggler {
    margin: 18px 0 14px 10px;
  }
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
}
 */
