<div class="page-content">
    <!-- Section Banner -->
    <div class="dez-bnr-inr dez-bnr-inr-md" style="background-image:url(assets/customer/images/main-slider/slide2.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry align-m ">
              <app-search-chauffeur></app-search-chauffeur>

            </div>
        </div>
    </div>
    <!-- Section Banner END -->
    <!-- About Us -->
    <div class="section-full job-categories content-inner-2 bg-white" style="background-image:url(../assets/customer/images/pattern/pic1.html);">
        <app-jobers></app-jobers>
    </div>
    <!-- About Us END -->
    <!-- Call To Action -->
    <!--  <div class="section-full content-inner bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 section-head text-center">
                    <h2 class="m-b5">Featured Cities</h2>
                    <h5 class="fw4 m-b0">20+ Featured Cities Added Jobs</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(assets/customer/images/city/pic1.jpg)">
                        <div class="city-info">
                            <h5>Iraq</h5>
                            <span>765 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(assets/customer/images/city/pic2.jpg)">
                        <div class="city-info">
                            <h5>Argentina</h5>
                            <span>352 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(assets/customer/images/city/pic3.jpg)">
                        <div class="city-info">
                            <h5>Indonesia</h5>
                            <span>893 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(assets/customer/images/city/pic4.jpg)">
                        <div class="city-info">
                            <h5>Gambia</h5>
                            <span>502 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(assets/customer/images/city/pic5.jpg)">
                        <div class="city-info">
                            <h5>India</h5>
                            <span>765 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(assets/customer/images/city/pic6.jpg)">
                        <div class="city-info">
                            <h5>Thailand</h5>
                            <span>352 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(assets/customer/images/city/pic7.jpg)">
                        <div class="city-info">
                            <h5>Banjul</h5>
                            <span>893 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(assets/customer/images/city/pic8.jpg)">
                        <div class="city-info">
                            <h5>Spain</h5>
                            <span>502 Jobs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Call To Action END -->
    <!-- Our Job -->
    <div class="section-full bg-white content-inner-2">
        <!-- Start Recent Job  -->
        <app-recent-job></app-recent-job>
        <!-- End Recent Job -->
    </div>
    <!-- Our Job END -->
    <!-- Call To Action -->
    <div class="section-full p-tb70 overlay-black-dark text-white text-center bg-img-fix" style="background-image: url(assets/customer/images/background/bg4.jpg);">
        <div class="container">
            <div class="section-head text-center text-white">
                <h2 class="m-b5">Chauufeurs en Rechercher d'Emploi</h2>
                <h5 class="fw4">N'attendez plus rejoingnez-nous</h5>
            </div>
            <div class="blog-carousel-center owl-carousel owl-none">
                <div class="item">
                    <div class="testimonial-5">
                        <div class="testimonial-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                        </div>
                        <div class="testimonial-detail clearfix">
                            <div class="testimonial-pic radius shadow">
                                <img src="assets/customer/images/testimonials/pic1.jpg" width="100" height="100" alt="">
                            </div>
                            <strong class="testimonial-name">David Matin</strong>
                            <span class="testimonial-position">Student</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-5">
                        <div class="testimonial-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                        </div>
                        <div class="testimonial-detail clearfix">
                            <div class="testimonial-pic radius shadow">
                                <img src="assets/customer/images/testimonials/pic2.jpg" width="100" height="100" alt="">
                            </div>
                            <strong class="testimonial-name">David Matin</strong>
                            <span class="testimonial-position">Student</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-5">
                        <div class="testimonial-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                        </div>
                        <div class="testimonial-detail clearfix">
                            <div class="testimonial-pic radius shadow">
                                <img src="assets/customer/images/testimonials/pic3.jpg" width="100" height="100" alt="">
                            </div>
                            <strong class="testimonial-name">David Matin</strong>
                            <span class="testimonial-position">Student</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Call To Action END -->

    <!-- Our Latest Blog -->
</div>
