<div class="page-content bg-white">
  <div
    class="dez-bnr-inr overlay-black-middle"
    style="background-image: url(assets/customer/images/banner/bnr1.jpg)"
  >
    <div class="container">
      <div class="dez-bnr-inr-entry">
        <h1 class="text-white">Mes Annonces</h1>
        <div class="breadcrumb-row">
          <ul class="list-inline">
            <li><a routerLink="/">Accueil</a></li>
            <li>La liste de mes annonces</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content-block">
    <div class="section-full bg-white browse-job content-inner-2">
      <div class="container">
        <div class="row">
          <!--  <div class="col-xl-2 col-lg-2" style="margin-left: -30px">
            <div class="clearfix m-b10">
              <a
                type="button"
                (click)="onAddNewJob()"
                class="btn btn-success btn-lg btn-block"
                style="color: white"
                >Add Annonce</a
              >
            </div>
            <div class="clearfix m-b10">
              <a
                type="button"
                class="btn btn-primary btn-lg btn-block"
                style="color: white"
                >Annonces</a
              >
            </div>
            <div class="clearfix m-b10">
              <a
                type="button"
                class="btn btn-dark btn-lg btn-block"
                style="color: white"
                >Jetons</a
              >
            </div>
            <div class="clearfix m-b10">
              <a
                type="button"
                class="btn btn-info btn-lg btn-block"
                style="color: white"
                >Informations</a
              >
            </div>
            <div class="clearfix m-b10">
              <a
                type="button"
                class="btn btn-warning btn-lg btn-block"
                style="color: white"
                >Autres</a
              >
            </div>
            <div class="clearfix m-b10">
              <a
                type="button"
                class="btn btn-danger btn-lg btn-block"
                style="color: white"
                >Logout</a
              >
            </div>
          </div> -->
          <div class="col-md-3">
            <div
              class="nav flex-column nav-pills"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                class="nav-link active"
                id="dashboard-nav"
                data-toggle="pill"
                href="#dashboard-tab"
                role="tab"
              >
                <i class="fa fa-tachometer-alt"></i>Tableau de bord</a
              >
              <a
                class="nav-link"
                id="orders-nav"
                data-toggle="pill"
                href="#orders-tab"
                role="tab"
              >
                <i class="fa fa-shopping-bag"></i> Mes Annonces</a
              >
              <a
                class="nav-link"
                id="payment-nav"
                data-toggle="pill"
                href="#payment-tab"
                role="tab"
                >
                  <i class="fa fa-plus"></i> Ajouter Annonce</a
              >
              <a
                class="nav-link"
                id="address-nav"
                data-toggle="pill"
                href="#address-tab"
                role="tab"
              >
                <i class="fa fa-dollar"></i> Mes Jetons</a
              >
              <a
                class="nav-link"
                id="account-nav"
                data-toggle="pill"
                href="#account-tab"
                role="tab"
              >
                <i class="fa fa-user"></i> Votre compte</a
              >
              <a class="nav-link" (click)="logout()" style="cursor: pointer">
                <i class="fa fa-sign-out-alt"></i>Deconnexion</a
              >
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="dashboard-tab"
                role="tabpanel"
                aria-labelledby="dashboard-nav"
              >
                <h4>Dashboard</h4>
                <div class="table-responsive">
                  <table class="table table-bordered" aria-label="">
                    <thead class="thead-dark">
                      <tr>
                        <th>#</th>
                        <th>Libellé</th>
                        <th>Email Poste</th>
                        <th>Salaire</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let annonceDTO of listAnnonceDataDTO
                            | paginate: { itemsPerPage: 15, currentPage: p };
                          let i = index
                        "
                      >
                        <td>{{ annonceDTO.id }}</td>
                        <td>{{ annonceDTO.libelle }}</td>
                        <td>{{ annonceDTO.emailPoste }}</td>
                        <td>{{ annonceDTO.salaire }}</td>
                        <td>{{ annonceDTO.status }}</td>
                        <td>
                          {{ annonceDTO.dateCloture | date: "dd-MM-yyyy" }}
                        </td>
                        <td>
                          <button class="btn" (click)="viewAnnonce(annonceDTO)">
                            <i class="fa fa-file-pdf" aria-hidden="true"> </i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pagination">
                    <pagination-controls
                      (pageChange)="p = $event"
                    ></pagination-controls>
                  </div>
                </div>

              </div>
              <div
                class="tab-pane fade"
                id="orders-tab"
                role="tabpanel"
                aria-labelledby="orders-nav"
              >
                <h4>Annonces</h4>
                <div class="row">
                  <div class="col-sm-6">
                    <input
                    type="text"
                    class="form-control"
                    placeholder="Chercher"
                    [(ngModel)]="searchText"
                  />
                  </div>

                  <div class="col-sm-6">
                    <button
                    (click)="onAddEditAnnonce(null)"
                    class="btn btn-primary"
                    type="submit"
                    >
                      <em class="fa fa-plus"> </em> Ajouter Annonce
                    </button>
                  </div>
                </div>&nbsp;
                <div class="table-responsive">
                  <table class="table table-bordered" aria-label="">
                    <thead class="thead-dark">
                      <tr>
                        <th>Reference</th>
                        <th>Libelle</th>
                        <th>Email Poste</th>
                        <th>Salaire</th>
                        <th>Disponibilité</th>
                        <th>Lieu Poste</th>
                        <th>Expérience</th>
                        <th>Contrat</th>
                        <th>Permis</th>
                        <th>Addresse</th>
                        <th>Description</th>
                        <th>Date Cloture</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let annonceDTO of listAnnonceDataDTO
                            | paginate: { itemsPerPage: 15, currentPage: p };
                          let i = index
                        "
                      >
                        <td>{{ annonceDTO.reference }}</td>
                        <td>{{ annonceDTO.libelle }}</td>
                        <td>{{ annonceDTO.emailPoste }}</td>
                        <td>{{ annonceDTO.salaire }}</td>
                        <td>{{ annonceDTO.lieuPoste }}</td>
                        <td>{{ annonceDTO.time }}</td>
                        <td>{{ annonceDTO.anneeExperience }}</td>
                        <td>{{ annonceDTO.typeContrat }}</td>
                        <td>{{ annonceDTO.permisDto.designation }}</td>
                        <td>{{ annonceDTO.addresseDto.ville }}</td>
                        <td>{{ annonceDTO.description }}</td>
                        <td>
                          {{ annonceDTO.dateCloture | date: "dd-MM-yyyy" }}
                        </td>

                        <td class="text-right">
                          <button
                            class="btn btn-warning btn-sm"
                            [routerLink]="[
                              '/admin/accueil/wiewArticle',
                              annonceDTO.id
                            ]"
                          >
                            <i class="fa fa-eye" aria-hidden="true"></i></button
                          >&nbsp;

                          <button
                            class="btn btn-primary btn-sm"
                            (click)="onAddEditAnnonce(i)"
                          >
                            <i
                              class="fa fa-edit"
                              aria-hidden="true"
                            ></i></button
                          >&nbsp;

                          <button
                            class="btn btn-danger btn-sm"
                            (click)="onDeleteAnnonce(annonceDTO.id)"
                          >
                            <i
                              class="fa fa-trash"
                              aria-hidden="true"
                            ></i></button
                          >&nbsp;
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pagination">
                    <pagination-controls
                      (pageChange)="p = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="payment-tab"
                role="tabpanel"
                aria-labelledby="payment-nav"
              >
                <h4>Ajouter/Modifier Annonce</h4>
                <!-- <p> -->
                  <!-- <app-create-job></app-create-job> -->
                  <form [formGroup]="this.formData" name="form">
                    <div class="form-group">
                      <label>Reference</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="reference"
                        name="reference"
                        id="reference"
                        required
                        placeholder="Reference du poste"
                      />
                      <div
                        *ngIf="
                          f['reference'].invalid &&
                          (f['reference'].dirty || f['reference'].touched)
                        "
                        class="alert alert-danger"
                      >
                        <span *ngIf="f['reference'].errors.required"
                          >Le reference est obligatoire.</span
                        >
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6 col-sm-12">
                        <label>Libellé Post</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="libelle"
                          name="libelle"
                          id="libelle"
                          required
                          placeholder="libelle du poste"
                        />
                        <div
                          *ngIf="
                            f['libelle'].invalid &&
                            (f['libelle'].dirty || f['libelle'].touched)
                          "
                          class="alert alert-danger"
                        >
                          <span *ngIf="f['libelle'].errors.required"
                            >Le libelle est obligatoire.</span
                          >
                        </div>
                      </div>

                      <div class="form-group col-md-6 col-sm-12">
                        <label>Email Post</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="emailPoste"
                          name="emailPoste"
                          id="emailPoste"
                          required
                          placeholder="emailPoste du poste"
                        />
                        <div
                          *ngIf="
                            f['emailPoste'].invalid &&
                            (f['emailPoste'].dirty || f['emailPoste'].touched)
                          "
                          class="alert alert-danger"
                        >
                          <span *ngIf="f['emailPoste'].errors.required"
                            >Le emailPoste est obligatoire.</span
                          >
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6 col-sm-12">
                        <label>Permis</label>
                        <div class="form-group">
                          <select
                            name="permisDto"
                            formControlName="permisDto"
                            class="form-control"
                          >
                            <option value="0">--choisir Permis--</option>
                            <option
                              *ngFor="let permis of listPermisDTOs"
                              class="form-control"
                              [ngValue]="
                                permis.id == addEditAnnonceDTO.permisDto?.id
                                  ? addEditAnnonceDTO.permisDto
                                  : permis
                              "
                            >
                              {{ permis.designation }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group col-md-6 col-sm-12">
                        <label>Ville Poste</label>
                        <div class="form-group">
                          <select
                            name="addresseDto"
                            formControlName="addresseDto"
                            class="form-control"
                          >
                            <option value="0">--choisir Ville--</option>
                            <option
                              *ngFor="let addDTO of listAddressDTOs"
                              class="form-control"
                              [ngValue]="
                                addDTO.id == addEditAnnonceDTO.addresseDto?.id
                                  ? addEditAnnonceDTO.addresseDto
                                  : addDTO
                              "
                            >
                              {{ addDTO.quartier }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6 col-sm-12">
                        <label>Lieu poste</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="lieuPoste"
                          name="lieuPoste"
                          id="lieuPoste"
                          required
                          placeholder="lieuPoste du poste"
                        />
                        <div
                          *ngIf="
                            f['lieuPoste'].invalid &&
                            (f['lieuPoste'].dirty || f['lieuPoste'].touched)
                          "
                          class="alert alert-danger"
                        >
                          <span *ngIf="f['lieuPoste'].errors.required"
                            >Le lieuPoste est obligatoire.</span
                          >
                        </div>
                      </div>

                      <div class="form-group col-md-6 col-sm-12">
                        <label>Salaire</label>
                        <input
                          type="number"
                          class="form-control"
                          formControlName="salaire"
                          name="salaire"
                          id="salaire"
                          required
                          placeholder="salaire du poste"
                        />
                        <div
                          *ngIf="
                            f['salaire'].invalid &&
                            (f['salaire'].dirty || f['salaire'].touched)
                          "
                          class="alert alert-danger"
                        >
                          <span *ngIf="f['salaire'].errors.required"
                            >Le salaire est obligatoire.</span
                          >
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6 col-sm-12">
                        <label>Disponibilité</label>
                        <select
                          formControlName="time"
                          name="time"
                          id="time"
                          class="form-control"
                          required
                        >
                          <option [ngValue]="0" disabled>--choisir Disponibilite--</option>
                          <option *ngFor="let item of listDisponibilites" [ngValue]="item">
                            {{ item }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            f['time'].invalid &&
                            (f['time'].dirty || f['time'].touched)
                          "
                          class="alert alert-danger"
                        >
                          <span *ngIf="f['time'].errors.required"
                            >Le time est obligatoire.</span
                          >
                        </div>
                      </div>

                      <div class="form-group col-md-6 col-sm-12">
                        <label>Nombre Années Experience</label>
                        <select
                          formControlName="anneeExperience"
                          name="anneeExperience"
                          id="anneeExperience"
                          class="form-control"
                          required
                        >
                          <option [ngValue]="0" disabled>--choisir Experience--</option>
                          <option *ngFor="let item of listExperiences" [ngValue]="item">
                            {{ item }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            f['anneeExperience'].invalid &&
                            (f['anneeExperience'].dirty || f['anneeExperience'].touched)
                          "
                          class="alert alert-danger"
                        >
                          <span *ngIf="f['anneeExperience'].errors.required"
                            >Le anneeExperience est obligatoire.</span
                          >
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6 col-sm-12">
                        <label>Type de Contrat </label>
                        <select
                          formControlName="typeContrat"
                          name="typeContrat"
                          id="typeContrat"
                          class="form-control"
                          required
                        >
                          <option [ngValue]="0" disabled>--choisir Contrat--</option>
                          <option *ngFor="let item of listTypeContrats" [ngValue]="item">
                            {{ item }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            f['typeContrat'].invalid &&
                            (f['typeContrat'].dirty || f['typeContrat'].touched)
                          "
                          class="alert alert-danger"
                        >
                          <span *ngIf="f['typeContrat'].errors.required"
                            >Le typeContrat est obligatoire.</span
                          >
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="">Date cloture</label>
                       <!--  <form class="form-inline"> -->
                          <div class="form-group">
                            <div class="input-group">
                              <input
                                class="form-control"
                                placeholder="yyyy-mm-dd"
                                formControlName="dateCloture"
                                name="dateCloture"
                                ngbDatepicker
                                id="dateCloture"
                                ngbDatepicker
                                [footerTemplate]="footerTemplate"
                                #d="ngbDatepicker"
                                [minDate]="today"
                                readonly
                              />
                              <div
                                *ngIf="
                                  f['dateCloture'].invalid &&
                                  (f['dateCloture'].dirty || f['dateCloture'].touched)
                                "
                                class="alert alert-danger"
                              >
                                <span *ngIf="f['dateCloture'].errors.required"
                                  >Le dateCloture est obligatoire.</span
                                >
                              </div>

                              <button
                                class="btn btn-outline-secondary calendar"
                                (click)="d.toggle()"
                              ></button>

                              <ng-template #footerTemplate>
                                <hr class="my-0" />
                                <button
                                  class="btn btn-primary btn-sm m-2 float-left"
                                  (click)="model = today; d.close()"
                                >
                                  Today
                                </button>
                                <button
                                  class="btn btn-secondary btn-sm m-2 float-right"
                                  (click)="d.close()"
                                >
                                  Close
                                </button>
                              </ng-template>
                            </div>
                          </div>
                      <!--   </form> -->
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Description</label>
                      <editor
                        formControlName="description"
                        name="dateCloture"
                        [init]="{ plugins: 'link' }"
                      ></editor>
                    </div>

                    <div class="form-group">
                      <button
                        type="submit"
                        class="btn btn-success btn-block"
                        (click)="onAddJob()"
                      >
                        <i class="fa fa-database"></i> Enregistrer</button
                      >&nbsp;
                      <!-- <button *ngIf="paramId" class="btn btn-warning btn-block" (click)="onUpdateJob()">
                        <i class="fa fa-database"></i>Modifier
                      </button> -->
                    </div>
                  </form>
               <!--  </p> -->
              </div>
              <div
                class="tab-pane fade"
                id="address-tab"
                role="tabpanel"
                aria-labelledby="address-nav"
              >
                <h4>Mes Jetons</h4>
                <div class="row">
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Rechercher"
                      [(ngModel)]="searchText"
                    />
                  </div>
                  <div class="col-sm-6">
                    <button
                      (click)="onAddEditJeton(null)"
                      type="submit"
                      class="btn btn-primary"
                    >
                      <em class="fa fa-plus"> </em> Recharge jeton
                    </button>
                  </div>
                </div>&nbsp;
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead class="thead-dark">
                        <tr>
                          <th>#</th>
                          <th>Libellé</th>
                          <th>Email Poste</th>
                          <th>Salaire</th>
                          <th>Status</th>
                          <th>Date</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let annonceDTO of listAnnonceDataDTO
                              | paginate: { itemsPerPage: 15, currentPage: p };
                            let i = index
                          "
                        >
                          <td>{{ annonceDTO.id }}</td>
                          <td>{{ annonceDTO.libelle }}</td>
                          <td>{{ annonceDTO.emailPoste }}</td>
                          <td>{{ annonceDTO.salaire }}</td>
                          <td>{{ annonceDTO.status }}</td>
                          <td>
                            {{ annonceDTO.dateCloture | date: "dd-MM-yyyy" }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="pagination">
                      <pagination-controls
                        (pageChange)="p = $event"
                      ></pagination-controls>
                    </div>
                  </div>

              </div>
              <div
                class="tab-pane fade"
                id="account-tab"
                role="tabpanel"
                aria-labelledby="account-nav"
              >
                <h4>Account Details</h4>
                <div class="row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.name"
                      name="name"
                      id="name"
                      #name="ngModel"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.username"
                      name="username"
                      id="username"
                      #username="ngModel"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.mobile"
                      name="mobile"
                      id="mobile"
                      #mobile="ngModel"
                      placeholder="Numéro téléphone"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.email"
                      name="email"
                      id="email"
                      #email="ngModel"
                      placeholder="Email"
                      required
                    />
                  </div>&nbsp;
                  <div class="col-sm-12">
                    <button
                      class="btn btn-warning"
                      (click)="update()"
                      style="cursor: pointer"
                    >
                      Modifier Compte
                    </button>
                    <br /><br />
                  </div>
                </div>
                <h4>Password change</h4>
                <div class="row">
                  <div class="col-md-12">
                    <button
                      class="btn btn-primary"
                      (click)="addEditCustomerPassword(listDataProfil)"
                      style="cursor: pointer"
                    >
                      Modifer Password
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  <div
            class="col-xl-10 col-lg-12 col-sm-12 table-responsive"
            style="margin-left: -10px"
          >
            
              
             
                    <button
                      class="btn btn-warning btn-sm"
                      [routerLink]="['/createJob', annonceDTO.id]"
                    >
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>

                    <button
                      class="btn btn-info btn-sm"
                      [routerLink]="['/createJob', annonceDTO.id]"
                    >
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      (click)="onDeleteAnnonce(annonceDTO.id)"
                    >
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
              </tbody> -->
          <!--  </table>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
