<div class="page-content bg-white">
    <div class="dez-bnr-inr overlay-black-middle" style="background-image: url(assets/customer/images/banner/bnr1.jpg)">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Mes Annonces</h1>
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a routerLink="/">Accueil</a></li>
                        <li>La liste de mes annonces</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-block">
        <div class="section-full bg-white browse-job content-inner-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab">
                                <i class="fa fa-tachometer-alt"></i>Tableau de bord</a>
                            <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">
                                <i class="fa fa-shopping-bag"></i> Mes Annonces</a>
                            <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">
                                <i class="fa fa-plus"></i> Ajouter Annonce</a>
                            <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab">
                                <i class="fa fa-dollar"></i> Mes Jetons</a>
                            <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">
                                <i class="fa fa-user"></i> Votre compte</a>
                            <a class="nav-link" (click)="logout()" style="cursor: pointer">
                                <i class="fa fa-sign-out-alt"></i>Deconnexion</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                                <h4>Tableau de bord</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered" aria-label="">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Libellé</th>
                                                <th>Email Poste</th>
                                                <th>Salaire</th>
                                                <th>Status</th>
                                                <th>Expiration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="
                          let annonceDTO of listAnnonceDataDTO
                            | paginate: { itemsPerPage: 15, currentPage: p };
                          let i = index
                        ">
                                                <td>{{ annonceDTO.id }}</td>
                                                <td>{{ annonceDTO.libelle }}</td>
                                                <td>{{ annonceDTO.emailPoste }}</td>
                                                <td>{{ annonceDTO.salaire }}</td>
                                                <td>{{ annonceDTO.status }}</td>
                                                <td>
                                                    {{ annonceDTO.dateCloture | date: "dd-MM-yyyy" }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pagination">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                                <h4>Annonces</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="Chercher" [(ngModel)]="searchText" />
                                    </div>

                                    <div class="col-sm-6">

                                    </div>
                                </div>
                                &nbsp;
                                <div class="table-responsive">
                                    <table class="table table-bordered" aria-label="">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Reference</th>
                                                <th>Libelle</th>
                                                <th>Email Poste</th>
                                                <th>Salaire</th>
                                                <th>Disponibilité</th>
                                                <th>Expérience</th>
                                                <th>Contrat</th>
                                                <th>Permis</th>
                                                <th>Addresse</th>
                                                <th>Description</th>
                                                <th>status</th>
                                                <th>Publiée</th>
                                                <th>Expire</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="
                          let annonceDTO of listAnnonceDataDTO
                            | paginate: { itemsPerPage: 15, currentPage: p };
                          let i = index
                        ">
                                                <td>{{ annonceDTO.reference }}</td>
                                                <td>{{ annonceDTO.libelle }}</td>
                                                <td>{{ annonceDTO.emailPoste }}</td>
                                                <td>{{ annonceDTO.salaire }}</td>
                                                <td>{{ annonceDTO.time }}</td>
                                                <td>{{ annonceDTO.proExperience }}</td>
                                                <td>{{ annonceDTO.typeContrat }}</td>
                                                <td>{{ annonceDTO.permisDto.designation }}</td>
                                                <td>{{ annonceDTO.addresseDto.ville }}</td>
                                                <td>{{ annonceDTO.description }}</td>
                                                <td>{{ annonceDTO.status }}</td>
                                                <td>
                                                    {{ annonceDTO.dateCandidature | date: "dd-MM-yyyy" }}
                                                </td>

                                                <td>
                                                    {{ annonceDTO.dateCloture | date: "dd-MM-yyyy" }}
                                                </td>

                                                <td class="text-right">
                                                    <button class="btn btn-primary btn-sm" [routerLink]="['/createJob', annonceDTO.id]" [ngClass]="{
                              disabled: annonceDTO.status == 'VALIDEE'
                            }">
                            <i
                              class="fa fa-edit"
                              aria-hidden="true"
                            ></i></button
                          >&nbsp;


                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pagination">
                    <pagination-controls
                      (pageChange)="p = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="payment-tab"
                role="tabpanel"
                aria-labelledby="payment-nav"
              >
                <h4>Ajouter Annonce</h4>

                <form [formGroup]="this.formData" name="form">
                  <div class="form-group">
                    <label>Reference</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="reference"
                      name="reference"
                      id="reference"
                      required
                      placeholder="Reference du poste"
                    />
                    <div
                      *ngIf="
                        f['reference'].invalid &&
                        (f['reference'].dirty || f['reference'].touched)
                      "
                      class="alert alert-danger"
                    >
                      <span *ngIf="f['reference'].errors.required"
                        >Le reference est obligatoire.</span
                      >
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-6 col-sm-12">
                      <label>Libellé Post</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="libelle"
                        name="libelle"
                        id="libelle"
                        required
                        placeholder="libelle du poste"
                      />
                      <div
                        *ngIf="
                          f['libelle'].invalid &&
                          (f['libelle'].dirty || f['libelle'].touched)
                        "
                        class="alert alert-danger"
                      >
                        <span *ngIf="f['libelle'].errors.required"
                          >Le libelle est obligatoire.</span
                        >
                      </div>
                    </div>

                    <div class="form-group col-md-6 col-sm-12">
                      <label>Email Post</label>
                      <input
                        type="email"
                        class="form-control"
                        formControlName="emailPoste"
                        name="emailPoste"
                        id="emailPoste"
                        required
                        placeholder="emailPoste du poste"
                      />
                      <div
                        *ngIf="
                          f['emailPoste'].invalid &&
                          (f['emailPoste'].dirty || f['emailPoste'].touched)
                        "
                        class="alert alert-danger"
                      >
                        <span *ngIf="f['emailPoste'].errors.required"
                          >Le emailPoste est obligatoire.</span
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-6 col-sm-12">
                      <label>Permis</label>
                      <div class="form-group">
                        <select
                          name="permisDto"
                          formControlName="permisDto"
                          class="form-control"
                        >
                          <option value="0">--choisir Permis--</option>
                          <option
                            *ngFor="let pmDTO of listPermisDTOs"
                            class="form-control"
                            [ngValue]="
                              pmDTO.id == addEditAnnonceDTO.permisDto?.id
                                ? addEditAnnonceDTO.permisDto
                                : pmDTO
                            "
                          >
                            {{ pmDTO.designation }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group col-md-6 col-sm-12">
                      <label>Ville Poste</label>
                      <div class="form-group">
                        <select
                          name="addresseDto"
                          formControlName="addresseDto"
                          class="form-control"
                        >
                          <option value="0">--choisir Ville--</option>
                          <option
                            *ngFor="let addDTO of listAddressDTOs"
                            class="form-control"
                            [ngValue]="
                              addDTO.id == addEditAnnonceDTO.addresseDto?.id
                                ? addEditAnnonceDTO.addresseDto
                                : addDTO
                            "
                          >
                            {{ addDTO.ville }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6 col-sm-12">
                      <label>Lieu poste</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="lieuPoste"
                        name="lieuPoste"
                        id="lieuPoste"
                        required
                        placeholder="lieuPoste du poste"
                      />
                     
                    </div>

                    <div class="form-group col-md-6 col-sm-12">
                      <label>Salaire</label>
                      <input
                        type="number"
                        class="form-control"
                        formControlName="salaire"
                        name="salaire"
                        id="salaire"
                        required
                        placeholder="salaire du poste"
                      />
                     
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-6 col-sm-12">
                      <label>Disponibilité</label>
                      <select
                        formControlName="time"
                        name="time"
                        id="time"
                        class="form-control"
                        required
                      >
                        <option [ngValue]="0" disabled>
                          --choisir Disponibilite--
                        </option>
                        <option
                          *ngFor="let item of listDisponibilites"
                          [ngValue]="item"
                        >
                          {{ item }}
                        </option>
                      </select>
                      <div
                        *ngIf="
                          f['time'].invalid &&
                          (f['time'].dirty || f['time'].touched)
                        "
                        class="alert alert-danger"
                      >
                        <span *ngIf="f['time'].errors.required"
                          >Le time est obligatoire.</span
                        >
                      </div>
                    </div>

                    <div class="form-group col-md-6 col-sm-12">
                      <label>Nombre Années Experience</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="proExperience"
                        name="proExperience"
                        id="proExperience"
                        required
                        placeholder="Nombre Années Experience"
                      />
                     
                      <div
                        *ngIf="
                          f['proExperience'].invalid &&
                          (f['proExperience'].dirty || f['proExperience'].touched)
                        "
                        class="alert alert-danger"
                      >
                        <span *ngIf="f['proExperience'].errors.required"
                          >Le experience est obligatoire.</span
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-6 col-sm-12">
                      <label>Type de Contrat </label>
                      <select
                      type="text"
                        formControlName="typeContrat"
                        name="typeContrat"
                        id="typeContrat"
                        class="form-control"
                        required
                      >
                        <option [ngValue]="0" disabled>
                          --choisir Contrat--
                        </option>
                        <option
                          *ngFor="let item of listTypeContrats"
                          [ngValue]="item"
                        >
                          {{ item }}
                        </option>
                      </select>
                      <div
                        *ngIf="
                          f['typeContrat'].invalid &&
                          (f['typeContrat'].dirty || f['typeContrat'].touched)
                        "
                        class="alert alert-danger"
                      >
                        <span *ngIf="f['typeContrat'].errors.required"
                          >Le typeContrat est obligatoire.</span
                        >
                      </div>
                    </div>

                    <div class="form-group col-md-6 col-sm-12">
                      <label>Date cloture</label>

                      <input
                        type="date"
                        placeholder="Date limite candidature"
                        class="form-control"
                        formControlName="dateCloture"
                        name="dateCloture"
                        id="dateCloture"
                        required
                      />

                      <div
                        *ngIf="
                          f['dateCloture'].invalid &&
                          (f['dateCloture'].dirty || f['dateCloture'].touched)
                        "
                        class="alert alert-danger"
                      >
                        <span *ngIf="f['dateCloture'].errors.required"
                          >Le dateCloture est obligatoire.</span
                        >
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Description</label>
                    <editor
                      formControlName="description"
                      name="dateCloture"
                      [init]="{ plugins: 'link' }"
                    ></editor>
                  </div>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-success btn-block"
                      (click)="onAddJob()"
                    >
                      <i class="fa fa-database"></i> Enregistrer</button
                    >&nbsp;
                  </div>
                </form>
              </div>
              <div
                class="tab-pane fade"
                id="address-tab"
                role="tabpanel"
                aria-labelledby="address-nav"
              >
                <h4>Mes Jetons</h4>
                <div class="row">
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Rechercher"
                      [(ngModel)]="searchText"
                    />
                  </div>
                  <div class="col-sm-6"></div>
                </div>
                &nbsp;
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead class="thead-dark">
                      <tr>
                        <th>#</th>
                        <th>Montant</th>
                        <th>Etat</th>
                        <th>DateDépot</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let jetonDTO of listJetonDTOs
                            | paginate: { itemsPerPage: 15, currentPage: p };
                          let i = index
                        "
                      >
                        <td>{{ jetonDTO.id }}</td>
                        <td>{{ jetonDTO.montant }}</td>
                        <td>{{ jetonDTO.etat }}</td>
                        <td>
                          {{ jetonDTO.createdDate | date: "dd-MM-yyyy" }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pagination">
                    <pagination-controls
                      (pageChange)="p = $event"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="account-tab"
                role="tabpanel"
                aria-labelledby="account-nav"
              >
                <h4>Account Details</h4>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Nom complet</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.name"
                      name="name"
                      id="name"
                      #name="ngModel"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label>Nom utilisateur</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.username"
                      name="username"
                      id="username"
                      #username="ngModel"
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Addresse</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.addressRecruteur"
                      name="addressRecruteur"
                      id="addressRecruteur"
                      #addressRecruteur="ngModel"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label>Nom entreprise</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.nomEntreprise"
                      name="nomEntreprise"
                      id="nomEntreprise"
                      #nomEntreprise="ngModel"
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Ville</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.villeRecruteur"
                      name="villeRecruteur"
                      id="villeRecruteur"
                      #villeRecruteur="ngModel"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label>Secteur activité</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.secteurActivite"
                      name="secteurActivite"
                      id="secteurActivite"
                      #secteurActivite="ngModel"
                      placeholder="secteur Activite"
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Mobile</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.mobile"
                      name="mobile"
                      id="mobile"
                      #mobile="ngModel"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label>Site web</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.website"
                      name="website"
                      id="website"
                      #website="ngModel"
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Email</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="listDataProfil.email"
                      name="email"
                      id="email"
                      #email="ngModel"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label>Description</label>
                    <textarea
                      class="form-control"
                      [(ngModel)]="listDataProfil.information"
                      name="information"
                      id="information"
                      #information="ngModel"
                      required
                      cols="30"
                      rows="10"
                    >
                    </textarea>
                  </div>
                  &nbsp;

                  <div class="col-sm-12">
                    <button
                      class="btn btn-outline-primary btn-block"
                      (click)="update()"
                      style="cursor: pointer"
                    >
                      Modifier Votre Information
                    </button>
                                                    <br /><br />
                                </div>
                            </div>

                            <h5>Editer Password</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-block" (click)="addEditCustomerPassword(listDataProfil)" style="cursor: pointer">
                      Modifer Password
                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>