<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image: url(assets/customer/images/banner/bnr1.jpg)">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Voir tous les annonces</h1>

                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a routerLink="/">Accueil</a></li>
                        <li>Liste des Annonces</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
        <!-- Browse Jobs -->
        <div class="section-full bg-white browse-job content-inner-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="sticky-top" style="margin-top: 15px">
                            <div class="clearfix m-b30"></div>

                            <div class="clearfix m-b30">
                                <h6 class="widget-title font-weight-700">
                                    Rechercher par Permis
                                </h6>
                            </div>

                            <div class="clearfix m-b10">
                                <app-list-job-permis></app-list-job-permis>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <app-search-job-by-reference></app-search-job-by-reference>
                        <ul class="post-job-bx" *ngFor="let annonceDTO of annoncesListDTO; let i = index">
                            <li *ngIf="annonceDTO.status == 'VALIDEE'">
                                <a [routerLink]="['/job-detail', annonceDTO.reference]">
                                    <div class="d-flex m-b30">
                                        <div class="job-post-company">
                                            <span><img src="assets/customer/images/logo/icon1.png"
                      /></span>
                                        </div>
                                        <div class="job-post-info">
                                            <h4 style="font-size: 16px;">{{ annonceDTO.libelle }}</h4>
                                            <div class="d-flex">
                                                <div class="job-time mr-auto text-uppercase" style="font-size: 16px;">
                                                    {{ annonceDTO?.utilisateurDto.nomEntreprise }}
                                                </div>
                                                <div class="job-time align-center" style="margin-left: 90px; font-size: 14px;">
                                                    <i class="fa fa-map-marker"></i> {{ annonceDTO?.addresseDto.ville }} , {{ annonceDTO?.addresseDto.pays }}
                                                </div>
                                                <div class="salary-bx" style="margin-left: 130px;">
                                                    <span style="font-size: 16px;">{{ annonceDTO.typeContrat }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="job-time mr-auto" style="font-size: 16px;">
                                            Disponobilité : {{ annonceDTO.time }}
                                        </div>
                                        <div class="salary-bx">
                                            <span style="font-size: 16px;"> Publié le : {{ annonceDTO.dateCandidature | date: "dd-MM-yyyy" }}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="pagination-bx m-t30">

                            <ul class="pagination">
                                <li class="active" class="clikable">
                                    <ngb-pagination [(page)]="page" [pageSize]="pageLength" [collectionSize]="annonceSize" (pageChange)="doing()" [maxSize]="3" [boundaryLinks]="true">
                                    </ngb-pagination>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Browse Jobs END -->
    </div>
</div>
<!-- Content END-->