<div class="display-table">
    <div class="vertical-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="error-box">
                        <h1>404</h1>
                        <h2 class="font300">Page Not Found</h2>
                        <p>
                            The page you're looking is not found. Please try later.
                        </p>
                        <a href="/" class="link-underline">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>