<footer class="site-footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
          <div class="widget">
            <img src="images/logo-white.png" width="180" class="m-b15" alt="" />
            <p class="text-capitalize m-b20">
              Suivre Sen-Chauffeur sur les différents réseau sociaux ..
            </p>
            <div class="subscribe-form m-b20">
              <form
                #addNewsleterForm="ngForm"
                name="form"
                class="dzSubscribe"
                action="http://job-board.w3itexperts.com/xhtml/script/mailchamp.php"
                method="post"
              >
                <div class="dzSubscribeMsg"></div>
                <div class="input-group">
                  <input
                    class="form-control"
                    [(ngModel)]="addEditNewsleterDTO.emailVisiteur"
                    name="emailVisiteur"
                    id="emailVisiteur"
                    #emailVisiteur="ngModel"
                    required="required"
                    placeholder="Votre Email Id"
                    type="email"
                  />
                  <span class="input-group-btn">
                    <button
                      name="submit"
                      value="Submit"
                      type="submit"
                      class="site-button radius-xl"
                      (click)="onAddNewsleter()"
                    >
                      Souscrire
                    </button>
                  </span>
                </div>
              </form>
            </div>
            <ul class="list-inline m-a0">
              <li>
                <a href="#" class="site-button white facebook circle"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" class="site-button white google-plus circle"
                  ><i class="fa fa-google-plus"></i
                ></a>
              </li>
              <li>
                <a href="#" class="site-button white linkedin circle"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
              <li>
                <a href="#" class="site-button white instagram circle"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="#" class="site-button white twitter circle"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
          <div class="widget border-0">
            <h5 class="m-b30 text-white">Questions Fréquentes</h5>
            <ul class="list-2 list-line">
              <li><a routerLink="/about-us">Qui-sommes nous ?</a></li>
              <li><a routerLink="/browse-tarifs">Nos Tarifs</a></li>
              <li><a routerLink="/faq">Faq</a></li>
              <li><a routerLink="/termesCondition">Termes & Conditions</a></li>
              <li><a routerLink="/contact-us">Contact Us</a></li>
              <li><a routerLink="/publier-offre">Publier un job</a></li>
              <!--  <li><a href="#">How It Works</a></li>
                            <li><a href="#">For Employers</a></li>
                            <li><a href="#">Underwriting</a></li>
                            <li><a routerLink="/contact-us">Contact Us</a></li>
                            <li><a href="#">Lending Licnses</a></li>
                            <li><a href="#">Support</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
          <div class="widget border-0">
            <h5 class="m-b30 text-white">Trouver un Job</h5>
            <ul class="list-2 w10 list-line">
              <li><a routerLink="/browse-job">Offres</a></li>
              <li><a routerLink="/browse-candidates">Chauffeurs</a></li>
              <li><a href="#">Emplois au Sénégal</a></li>
              <!-- <li><a href="#">UK Jobs</a></li>
                            <li><a href="#">Jobs in Deuts</a></li>
                            <li><a href="#">Vacatures China</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom part -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <span
            ><a target="_blank" href="https://www.templateshub.net"
              >senchauffeur @ 2022</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</footer>
